{% extends "BaseTemplate.html" %}
{% block title%} Create/Edit Test Case{%endblock%}
{% block content %}

<script type="text/javascript" src="/site_media/Jquery/Local/Admin.js"></script>


<article>

    <div id="buttons" align="center">
        <input type='button' id='git_pull' class="button minibutton primary" value="Git Pull"/>
        <input type='button' id='git_log' class="button minibutton" value="Git Log"/>
    </div>

    {% if error_message %}
    <div id="error" align="center">
        <p><strong>{{error_message}}</strong></p>
    </div>
    {%endif%}

</article>
{% endblock %}