
{% extends "BaseTemplate.html" %}
		
	
	{% block title%} Analysis {% endblock %}	
		
	{% block content %}	
		
<article>		

	<header>Analysis</header>
	<br/>
		<div id = "Analysis" >
		
		
			<!----------------  Performance Flip Bars  ---------------------------->
			<div id = "TestCaseSearch" style = "display:block">
				<form action="get">
				
					<table>
						<tbody>
							<tr> 
								<td> 
									
										<label  class = 'Text' style = 'display:block; '  > <b> Search Test Cases History: </b></label>
								</td>
								
								<td>		
										<input id="searchbox" class="ui-corner-all ui-autocomplete-input" type="text" name="searchboxname" title="Search Test Cases History Inbox" style="margin-left:-2%" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
									
								</td>
							</tr>
						</tbody>
					</table>
					
				</form>
					
						
					
				
					<p class='flip' title = "Test Cases Analysis"  style = "display: none; width: auto;"> Test Cases </p> 
					<div id = "TestAnalysisTable">
				
					</div>
							
					
				
					
			</div>
			
		</div>
		
		
		
		<!---------------- Environment Details Table ---------------------------->
			<p> &nbsp; </p>
			<p class='flip' title = 'Environment Details'> Environment Details </p>
				<div id = 'EnvironmentDetailsTable' style="display: none;">
			
				</div>
				
			
			<!---------------- All Test Cases Table ---------------------------->
			<p>&nbsp; </p>
			<p class='flip' title = 'All Test Cases'> All Test Cases </p>
				<div id = 'AllTestCasesTable' style="display: none;">
			
				</div>
			
			
			<!---------------- Pass Test Cases Table ---------------------------->
			<p>&nbsp; </p>	
			<p class='flip' title = 'Passed Test Cases'>Passed Test Cases </p>
				<div id = 'PassTestCasesTable' style="display: none;" >
			
				</div>
			
			
			<!---------------- Fail Test Cases Table ---------------------------->
			<p>&nbsp; </p>
			<p class='flip' title = 'Failed Test Cases'>Failed Test Cases </p>
		
				<div id = 'FailTestCasesTable' style="display: none;">
		
				</div>
			
			<p style ="margin-left: 300px; font-size: small; width:180px; height: 15px ; " class = 'flip' title = 'Re-Run Fail Test Cases'> Re-Run Fail Test Cases </p>		
		
			<!---------------- Failed Steps Table ---------------------------->
			<p>&nbsp; </p>		
			<p class='flip' title = 'Failed Steps' >Common Failed Steps</p>
		
			<div id = 'FailedStepsTable' style="display: none; ">
	
			</div>
			
	
	
		
	
				
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp; </font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp; </font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp; </font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			
			
			
</article>				
	{% endblock %}		