<!-- 
<link rel="stylesheet" type="text/css" href="/site_media/CSS-Style-Sheet.css" />
<link type="text/css" href="/site_media/Jquery/jquery-ui-1.8.19.custom.css" rel="Stylesheet" /> 
		
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/site_media/Jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/site_media/Jquery/JQuery.js"></script>
<script type="text/javascript" src="/site_media/Jquery/jquery-ui-1.8.19.custom.min.js"></script>

<!-- =============================================SEARCH BOX================================================================
<form method = "get" >
			  		 	
	<table id="AutoSearchResult" style="display: block;" >
  			<tbody>	
  				<tr>
  					<td>
  					<p> </p>
  						<label > <b id = "AutoSearchTextBoxLabel">{{Label}} </b></label>
  						<input id="searchbox" type="text" title = "Please Type Keyword and Click On that to add to query" name="searchboxname" />
  					</td>
  					
  					<td>
  						<img class = "Buttons" alt="" title = "Search Test Cases" src="/site_media/AutoComplete_SearchButton.png" style="display:none;">
  					</td>
  				</tr>	   
 				</tbody>
  		</table>
  		
  		
  		<table id = "AutoSearchResult">
  			<tr id = "searchedtext">
 				<th style="text-align: left;"> Search Query: </th> 
 			</tr>
  		</table>
</form>
					    			
					
			  
			  
<!-- =============================================END SEARCH BOX================================================================ -->


<!-- <fieldset style="border: none;">
						
						      <label for="searchbox"> <b>{{Label}} </b></label>
						      <img class = "Buttons" alt="" title = "Search Test Cases" src="/site_media/AutoComplete_SearchButton.png" style="display:block;">
						 	  <input id="searchbox" type="text" title = "Please Type Keyword and Click On that to add to query" name="searchboxname" />
	 		</fieldset>     -->