<!DOCTYPE html>

<html>
<!-- Above code is for adding HTML5 and XHTML to your html code. Copy paste to your other html files -->
<head>

    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/ico" href="/site_media/Logo.ico"></link>
    <link rel="shortcut icon" href="/site_media/Logo.ico"></link>
    <link rel="stylesheet" type="text/css" href="/site_media/CSS-Style-Sheet.css" />


    <!-- Google CDN file   https://developers.google.com/speed/libraries/devguide#jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

    <!-- JQuery UI Files http://jqueryui.com/themeroller/ -->
    <script type="text/javascript" src="/site_media/Jquery/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/site_media/Jquery/js/jquery-ui-1.10.3.custom.min.js"></script>
    <link type="text/css" href="/site_media/Jquery/css/smoothness/jquery-ui-1.10.3.custom.css" rel="Stylesheet" />

    <!-- JQuery URL Address plug In Files http://www.asual.com/jquery/address/ -->
    <script type="text/javascript" src="/site_media/Jquery/jquery.address-1.4/jquery.address-1.4.min.js"></script>

    <!-- JQuery Spager for controlling table data plug http://code.google.com/p/spager/downloads/detail?name=jquery.spager.js -->
    <script type="text/javascript" src="/site_media/Jquery/Spager_Controll_TableData.js"></script>

    <!-- JQuery Local Files -->
    <script type="text/javascript" src="/site_media/Jquery/Local/JQuery.js"></script>
    <script type="text/javascript" src="/site_media/Jquery/Local/RunTest.js"></script>
    <script type="text/javascript" src="/site_media/Jquery/Local/Daily_Build.js"></script>
    <script type="text/javascript" src="/site_media/Jquery/Local/MKS_Report.js"></script>
    <script type="text/javascript" src="/site_media/Jquery/Local/Performance.js"></script>
    <script type="text/javascript" src="/site_media/Jquery/Local/Analysis.js"></script>
    <script type="text/javascript" src="/site_media/Jquery/Local/Execution_Report.js"></script>
    <script type="text/javascript" src="/site_media/Jquery/Local/PageAnimation.js"></script>

    <a href="/Home/Admin/" style="float: right">Admin</a>
</head>


<body>
<div id="master_wrap">
    <header class="main_header">
        <a id="logo" href="/Home/">
            <img src="/site_media/Logo.png" style="width:256px;border:0;"/>
        </a>
    </header>
    <div id="outer_wrap">
        <!--nav id="nav" role="navigation">
            <ul>
            <li><a href = "/Home/"  class = 'MainManu'>Home</a></li>
            <li>
                <a href = "/Home/ManageTestCases/"  class = 'MainManu'>Manage Test Case</a>
                <ul>
                    <li><a href="/Home/ManageTestCases/Create/">Create New Test Case</a></li>
                    <li><a href="/Home/ManageTestCases/SearchEdit/">Copy or Edit Test Case</a></li>
                    <li><a href="/Home/ManageTestCases/CreateProductSections/">Manage Product Sections</a></li>
                    <li><a href="/Home/ManageTestCases/TestSet/">Manage Set and Tag</a></li>
                    <li><a href="/Home/ManageTestCases/TestStep/">Manage Test Steps</a></li>
                    <li><a href="/Home/ManageTestCases/DeleteExisting/">Delete Test Cases</a></li>
                    <li><a href="/Home/ManageTestCases/CreateNew/">Create New Test Case (Under Development)</a></li>
                </ul>
            </li>
            <li><a href = "/Home/RunTest/" class = 'MainManu'>Run</a></li>
            <li><a href = "/Home/Results/" class = 'MainManu'>Result</a></li>
             <li><a href = "/Home/Performance/" class = 'MainManu'>Performance</a></li>
            <!-- <li><a href = "/Home/Documentation/" class = 'MainManu'>Documentation</a> </li>-->
        <!--li>
            <a href = "/Home/ExecutionReport/" class = 'MainManu'>Reports</a>
            <ul>
                <li><a href="/Home/BundleReport/">Bundle Report</a></li>
                <li><a href="/Home/MKS-Report/">MKS Report</a></li>
                <li><a href="/Home/Analysis/">Test Case History</a></li>
                <li><a href="/Home/DailyBuildResults/">Automated Build History</a></li>
                <li><a href="/Home/TestTypeStatus/">Test Type Status</a></li>
            </ul>
        </li>
        </ul>
    </nav-->

        <nav id="nav" role="navigation">
            <a href="#nav" title="Show navigation">Show navigation</a>
            <a href="#" title="Hide navigation">Hide navigation</a>
            <ul>
                <li><a href="/Home/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/home3.png" width="16"> Home</a></li>
                <li>
                    <a href="/Home/ManageTestCases/" aria-haspopup="true"><span><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/auto.png" width="16"> Manage Test</span></a>
                    <ul>
                        <li><a href="/Home/ManageTestCases/Create/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/test-case.png" width="16"> Create New</a></li>
                        <li><a href="/Home/ManageTestCases/SearchEdit/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/edit.png" width="16"> Copy or Edit</a></li>
                        <li><a href="/Home/ManageTestCases/CreateProductSections/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/run.png" width="16"> Manage Sections</a></li>
                        <li><a href="/Home/ManageTestCases/TestSet/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/tag.png" width="16"> Manage Set & Tag</a></li>
                        <li><a href="/Home/ManageTestCases/TestStep/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/step.png" width="16"> Manage Test Steps</a></li>
                        <li><a href="/Home/ManageTestCases/DeleteExisting/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/delete2.png" width="16"> Delete Test Cases</a></li>
                        <li><a href="/Home/ManageTestCases/CreateNew/">Create New Test Case (Under Development)</a></li>
                    </ul>
                </li>
                <li>
                    <a href = "/Home/RunTest/"><span><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/run.png" width="16"> Run</span></a>
                    <ul>
                        <li><a href="/Home/RunTest/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/pc3.png" width="16"> PC</a></li>
                        <li><a href="/Home/RunTest/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/mac3.png" width="16"> MAC</a></li>
                    </ul>
                </li>

                <li><a href = "/Home/Results/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/result2.png" width="16"> Result</a></li>
                <li>
                    <a href="/Home/ExecutionReport/" aria-haspopup="true"><span><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/report2.png" width="16"> Reports</span></a>
                    <ul>
                        <li><a href="/Home/BundleReport/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/report.png" width="16"> Bundle Report</a></li>
                        <li><a href="/Home/MKS-Report/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/mks.png" width="16"> MKS Report</a></li>
                        <li><a href="/Home/Analysis/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/history2.png" width="16"> Test Case History</a></li>
                        <li><a href="/Home/DailyBuildResults/">Automated Build History</a></li>
                        <li><a href="/Home/TestTypeStatus/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/status.png" width="16"> Test Type Status</a></li>
                        <li><a href = "/Home/Performance/"><img alt="Octocat-spinner-32" class="mini-loader" height="16" src="/site_media/automated.png" width="16"> Performance</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <br/>

        <section>
            {% block content %} {% endblock %}
        </section>
        <aside>
            {% block aside %} {% endblock %}
        </aside>
        <footer>
            {% block footer %}
            <a href="#" class="go-top">Go Top</a>
            {% endblock %}
        </footer>
    </div>
</div>

<script src="http://osvaldas.info/examples/drop-down-navigation-touch-friendly-and-responsive/doubletaptogo.js"></script>
<script src="http://osvaldas.info/examples/drop-down-navigation-touch-friendly-and-responsive/doubletaptogo.min.js"></script>
<script>
    $(document).ready(function() {
        // Show or hide the sticky footer button
        $(window).scroll(function() {
            if ($(this).scrollTop() > 190) {
                $('.go-top').fadeIn(190);
            } else {
                $('.go-top').fadeOut(190);
            }
        });

        // Animate the scroll to top
        $('.go-top').click(function(event) {
            event.preventDefault();

            $('html, body').animate({scrollTop: 0}, 300);
        })

        //$( '#nav li:has(ul)' ).doubleTapToGo();
    });
</script>

</body>
</html>





