{% extends "BaseTemplate.html" %} 
{% block title%} Create new product sections {%endblock%} 
{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/CreateProductSections.js"></script>
<article>
<header>
Create Product Sections
</header>
<div id="enter_sections_text">
<p>
Please Enter a name for the main section and its optional subsections.  These names will be used to group tests together.
</p>
</div>
<br>

<form id="section_names" action="ProductSectionsCreated/" method="POST">
	Main Section: <input type="text" class="main textbox" name="section_main"><br><br>
	Subsection 1: <input type="text" class="sub1 textbox" name="subsection_1"><br><br>
	Subsection 2: <input type="text" class="sub2 textbox" name="subsection_2"><br><br>
	Subsection 3: <input type="text" class="sub3 textbox" name="subsection_3"><br><br>
	Subsection 4: <input type="text" class="sub4 textbox" name="subsection_4"><br><br>
<input type="submit" class="button minibutton primary" value="Submit"><br><br>
</form>
</article>
{% endblock %}
