{% extends "BaseTemplate.html" %} 
{% block title%} Create/Edit Test Case{%endblock%} 
{% block content %}

<script type="text/javascript" src="/site_media/Jquery/Local/CreateTest.js"></script>

<script>
$(function() {
	$( "#accordion" ).accordion({
		collapsible: true,
		heightStyle: "content"
	});
});

</script>


<p class='text' id="question_text" style="color: black; display: block; font-family: Arial, sans-serif; font-size: 25px; font-weight: 900; text-align: center">
	<a>Please enter the test case details.</a>
</p>

<label id="TC_Id" class="new_tc_form Text" style="display:none; text-align: center;"></label>

<div class="tc_title">
<form id="tc_title" class="new_tc_form">
	<table>
		<tr>
			<td class="tc_form_label_col">
				<span class="tc_form_required_field">*</span><b class="Text">Title:</b>
			</td>
			<td class="tc_form_input_col">
				<input class="ui-corner-all ui-autocomplete-input" id="title_txtbox" type="text"
					title="Enter the reference MKS/JIRA id" name="searchboxname" autocomplete="off">
			</td>
		</tr>
	</table>
</form>
</div>
		
<div id="accordion" style="width:720px;background=transparent;margin-left:auto;margin-right:auto;" >

	<!-- Begin section 1 -->
	<h3><a href="#">Properties</a></h3>
	<div>
		
		<form id="tc_enable" class="new_tc_form">
			<table>
				<tr>
					<td class="tc_form_label_col">
						<b class="Text">Status:</b>
					</td>
					<td class="tc_form_input_col">
						<table width="100%">
							<tr>
								<td width="50%">
									<input id="Enable_radio" type="radio" name="Status" value="Production" style="width:auto"> 
									<label for="Enable_radio">Enabled</label> &nbsp; &nbsp;
								</td>
								<td width="50%">
									<input id="Disable_radio" type="radio" name="Status" value="Development" style="width:auto" checked="true"> 
									<label for="Disable_radio">Disabled</label>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</form>
		
		<div class="new_tc_form" style="text-align: center;">
			<table>
				<tr>
					<td class="tc_form_label_col">
						<span class="tc_form_required_field">*</span><b class="Text">Section:</b>
					</td>
					<td class="tc_form_input_col" id="sectiongroup" align="left">
						<select class="section" data-level="" id="1">
							<option>Choose...</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
		
		<HR class="tc_form_divider"/>
		
		<form id="tc_platform" class="new_tc_form">
			<table>
				<tr>
					<td class="tc_form_label_col">
						<label><span class="tc_form_required_field">*</span><b class="Text">Platform:</b></label>
					</td>
					<td class="tc_form_input_col">
						<table width="100%">
							<tr>
								<td width="50%">
									<input id="PC_radio" type="checkbox" name="platform" value="PC" style="width:auto">
									<label for="PC_radio">PC</label>
								</td>
								<td width="50%">
									<input id="MAC_radio" type="checkbox" name="platform" value="MAC" style="width:auto">
									<label for="MAC_radio">Mac</label>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</form>
		
		<form id="tc_applicable_client" class="new_tc_form">
			<table>
				<tr>
					<td class="tc_form_label_col">
						<label><span class="tc_form_required_field">*</span><b class="Text">Dependency:</b></label>
					</td>
					<td class="tc_form_input_col">
						<table width="100%">

							<tr>
								<td width="50%">
									<input id="Chrome" type="checkbox" name="dependancy" value="Chrome" style="width:auto">
									<label for="BBX">Chrome</label>
								</td>
								<td width="50%">
									<input id="Firefox" type="checkbox" name="dependancy" value="Firefox" style="width:auto">
									<label for="Firefox">Firefox</label>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<input id="IE" type="checkbox" name="dependancy" value="IE" style="width:auto">
									<label for="IE">Internet Explorer</label>
								</td>
							</tr>
						</table>
					</td>
			</table>
		</form>
		
		<form id="tc_type" class="new_tc_form">
			<table>
				<tr>
					<td class="tc_form_label_col">
						<span class="tc_form_required_field">*</span><b class="Text">Type:</b>
					</td>
					<td class="tc_form_input_col">
						<table width="100%">
							<tr>
								<td width="50%">
									<input id="smoke_check" type="checkbox" name="type" value="smoke" style="width:auto" />
									<label for="smoke_check">Smoke</label>
								</td>
								<td width="50%">
									<input id="si_check" type="checkbox" name="type" value="si" style="width:auto" />
									<label for="si_check">SI</label>
								</td>
							</tr>
							<tr>
								<td width="50%">
									<input id="svv_check" type="checkbox" name="type" value="svv" style="width:auto" />
									<label for="svv_check">SVV</label>
								</td>
							</tr>
						</table>
					</td>
				<tr>
			</table>
		</form>
		
		<form id="tc_tag" class="new_tc_form">
			<table>
				<tr>
					<td class="tc_form_label_col">
						<b class="Text">Tag(s):</b> <br>
					</td>
					<td class="tc_form_input_col">
						<input class="ui-corner-all ui-autocomplete-input" id="tag_txtbox" type="text"
							name="searchboxname" autocomplete="off">
				</tr>
			</table>
		</form>
		
		<HR class="tc_form_divider"/>
		
		<form id="tc_priority" class="new_tc_form">
			<table>
				<tr>
					<td class="tc_form_label_col">
						<b class="Text">Priority:</b> <br>
					</td>
					<td class="tc_form_input_col">
						<div style="text-align: center;">
							<select id="priotiy_select" name="priority" style="width:100%"> 
								<option value="1">1 (Highest)</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</td>
				</tr>
			</table>
		</form>
		
		<form id="tc_assoc" class="new_tc_form">
			<table>
				<tr>
					<td class="tc_form_label_col">
						<b class="Text">Defect ID(s):</b>
					</td>
					<td class="tc_form_input_col">
						<input class="ui-corner-all ui-autocomplete-input" id="defectid_txtbox" type="text"
							name="searchboxname" autocomplete="off">
					</td>
				</tr>
			</table>
		</form>
		
		<form id="tc_id" class="new_tc_form">
			<table>
				<tr>
					<td class="tc_form_label_col">
						<b class="Text">Test Case ID(s):</b>
					</td>
					<td class="tc_form_input_col">
						<input class="ui-corner-all ui-autocomplete-input" id="id_txtbox" type="text"
							name="searchboxname" autocomplete="off">
				</tr>
			</table>
		</form>
		
		<form id="req_id" class="new_tc_form">
			<table>
				<tr>
					<td class="tc_form_label_col">
						<b class="Text">Requirement ID(s):</b>
					</td>
					<td class="tc_form_input_col">
						<input class="ui-corner-all ui-autocomplete-input" id="reqid_txtbox" type="text"
							name="searchboxname" autocomplete="off">
				</tr>
			</table>
		</form>
		
		<table class="new_tc_form" style="width: 300px">
			<tbody>
				<tr>
					<td id="searchedtag"></td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<!-- End section 1 -->

	<!-- Begin section 2 -->
	<h3><a href="#">Test Steps</a></h3>
	<div>		
		<!-- All steps get inserted here -->
		<div id="stepbox">
		</div>
		
		<div class="new_tc_form" style="text-align: center">
			<input id="add_test_step" class="buttonCustom new_tc_form" type='image'
					src='/site_media/plus.png' name='Add Step' style="background-color: transparent; width:30px; height:30px">
			<input id="remove_test_step" class="buttonCustom new_tc_form" type='image'
				src='/site_media/minus.png' name='Add Step' style="background-color: transparent; width:30px; height:30px">
		</div>
	</div>
	<!-- End section 2 -->

</div>
<p class="new_tc_form buttonCustom" id="submit" style="width:150px;">
	<img style="" src="/site_media/check.png" width="20px"> <br>Save
</p>
<!-- 
<!--<div style="text-align:center;margin-top:20px">
<!--	<!-- Following Code is for Create Flip button  -->
<!--	<div class='new_tc_form buttonCustom' id='submit' style="width:100px;">
<!--		<img src="/site_media/check.png" width='20px' style=""><div class='new_tc_form buttonCustom'>Save</div>
<!--	</div>
<!--</div> -->


{% endblock %}
