{% extends 'BaseTemplate.html' %}
{% load multifor %}

{% block title %} Delete Multiple Test Cases {% endblock %}

{% block content %}

<script src="/site_media/Jquery/jquery-2.0.3.min.js"></script>

<script>
$(document).ready(function() {
	$("#deleteBtn").click(function (){
		$(this).css("opacity", "0.5");
		var random_string = Math.random().toString(36).substring(2, 7);
		var r = window.prompt("Do you really want to delete the selected test case(s)?\nType the following word:\n" + random_string);
		if (r === random_string) {
			return true;
		} else {
			$(this).css("opacity", "1");
			return false;
		}
	});
});
</script>

<form action="." method="POST">
	<div style="display: block; margin: auto;">
	{% csrf_token %}
		<table style="border: 8px dashed #ABCDEF; font-family: Open Sans, Arial, Helvetica, sans-serif; padding: 5px; margin: 20px;" width="80%">
			<thead style="text-align: left;">
				<tr style="border: none;">
					<th colspan="2" style="padding: 5px; font-weight: bold; font-size: 1.4em;">Select Test Case(s) to delete<hr style="height: 5px; background-color: #ABCDEF; border: none;"></th>
				</tr>
				<tr style="border: none;">
					<th style="padding: 5px; text-decoration: underline; font-weight: bold;">Test Case ID<hr style="height: 5px; background-color: #ABCDEF; border: none;"></th>
					<th style="padding: 5px; text-decoration: underline; font-weight: bold;">Test Case name<hr style="height: 5px; background-color: #ABCDEF; border: none;"></th>
				</tr>
			</thead>
			
			<tbody>
			{% for tc_id in TC_ids; tc_name in TC_names %}
			<tr>
				<td style="padding: 10px; onclick="click"><label style="cursor: pointer;"><input type="checkbox" name="selectTC" value="{{ tc_id }}" />{{ tc_id }}</label><hr style="height: 2px; background-color: #ABCDEF; border: none;"></td>
				<td style="padding: 10px;">{{ tc_name }}<hr style="height: 2px; background-color: #ABCDEF; border: none;"></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		<button id="deleteBtn" style="font-size: 1.2em; padding: 6px; margin: 20px; border: 2px solid #ABCDEF; cursor: pointer;">Delete Selected TCs</button>
	</div>
</form>

{% endblock %}