{% extends "BaseTemplate.html" %}

 {% block title %}Delete Existing Test Case{% endblock %}
 
 {% block content %}

<script type="text/javascript" src="/site_media/Jquery/Local/DeleteExisting.js"></script>

<article>
	<div width="400px" height="128px">
		<img src="/site_media/verify_query.png" style="float:left;" />
		<br />
		
		<p style="font-size: 2em">Deleted existing test case: {% for name in TC_name %}<span style="font-weight: bold; color: #FF9900;">{{ name }}</span></p>
		{% endfor %}
	</div>
</article>

 {% endblock %}