{% extends "BaseTemplate.html" %}

{% block title%} Log In {% endblock%}

{% block content %}
<article>

<div align="center" width="50%" style="margin-left: 30%;margin-right: 30%;margin-top: 10%">
    <!--form action="/processLogin/" method="post"-->
        <!--{% csrf_token %}-->
        <fieldset align="right">
            <legend><b>Login Information</b></legend>
            <div align="center">
                <input type="text" id="username" class="textbox username" value="" name="username" placeholder="username" style="margin-bottom: 5%;margin-top: 5%;" size="25" autofocus="autofocus"/>
                <br>
                <input type="password" id="password" class="textbox password" value="" name="password" placeholder="password" size="25"/>
                <hr>
                <input type="submit" id="loginbtn" class="button primary" value="Login"/>
            </div>
        </fieldset>
    <!--/form-->
</div>

</article>
{% endblock %}