{% extends "BaseTemplate.html" %}
{% block title%} Edit Test Set & Tag {%endblock%}
{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/ManageTestSet.js"></script>

<div align="left">
    <h3 style="font-size: 19px;"><a style="font-weight: bold">Edit Test Set/Tag</a></h3>
</div>

<div id="general_info">
    <div id="info" style="margin: auto" align="center">
        {% if error_message %}<p id="error" align="center"><strong>{{error_message}}</strong></p>{% endif %}
        <table align="center">
            <tr>
                <td align="right"><label class="Text"><b>Test {{data_type }} Name: </b></label></td>
                <td align="left"><label class="Text"><b style=" font-weight: bold; font-size: 1.4em; color: #4169e1;">  {{name}}</b></label></td>
            </tr>
            <tr>
                <td align="right"><label class="Text"><b>Estimated Time: </b></label></td>
                <td align="left"><label class="Text"><b style=" font-weight: bold; font-size: 1.4em; color: #4169e1;">  {{estimated_time}}</b></label></td>
            </tr>
        </table>
    </div>
</div>
<hr>
<div id="searchBox" align="left">

</div>
<br>
<div id="main" align="center" style="width: 100%;">
    <div id="left_div" style="width: 50%;float: left;">
        <form  action="{% url 'MySite.views.DeleteTestCasesFromSet' %}" method="POST">
            {%csrf_token%}
            <div>
                <div><input name="set_name" value="{{name}}" style="display: none"/></div>
                <div><input name="set_type" value="{{data_type}}" style="display: none" /></div>
            </div>
            <div style="display: block;margin:auto" width="80%">
                {% if ex_lst %}
                <p align="center" style="font-weight: bolder;font-size: 1.2em;">Available Test Cases</p>
                <hr style="width: 80%">
                    <table class="one-column-emphasis" style="border-collapse: collapse" width="80%">
                        <tr>
                            <th align="center" style="font-weight: bold;padding: 2px;" colspan="1">ID</th>
                            <th align="center" style="font-weight: bold;padding: 2px;"colspan="1">Title</th>
                            <th align="center" style="font-weight: bold;padding: 2px;"colspan="1">Time</th>
                            <th align="center" style="font-weight: bold;padding: 2px;"colspan="1">&nbsp;&nbsp;&nbsp;</th>
                        </tr>
                        {% for x in ex_lst %}
                        <tr>
                            <td align="center">{{x.item1}}</td>
                            <td align="center">{{x.item2}}</td>
                            <td align="center">{{x.item3}}</td>
                            <td align="center"><input type="checkbox" id="{{x.item1}}" value="{{x.item1}}" name="selectTCremove"/></td>
                        </tr>
                        {% endfor %}
                    </table>
                <br/>
                <button type="submit" id="RemoveBtn" class="button minibutton danger">Remove Selected TCs</button>
                {% endif %}

            </div>
        </form>
    </div>
    <div id="right_div_outer" style="width:50%;float:left;">
       <form action="{% url 'MySite.views.AddTestCasesToSet' %}" method="POST">
           {%csrf_token%}
           <div>
               <div><input name="set_name" value="{{name}}" style="display: none"/></div>
               <div><input name="set_type" value="{{data_type}}" style="display: none" /></div>
           </div>
           <div style="display: block;margin: auto">
               <div id="right_div" align="center">

               </div>

           </div>
       </form>
    </div>
</div>
{%endblock%}