{% extends "BaseTemplate.html" %}

{% block title%}Manage Bug{% endblock %}

{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/ManageBug.js"></script>
<!--style>
    #searchbox {
        width: 94%;
        padding: 5px;
        max-width: 95%;
        outline-color: #000;
        outline-style: none;
        box-shadow: 0 6px 6px -6px black;
        font-size: 1.2em;
    }

    #searchbox:focus {
        box-shadow: 0 6px 6px -6px blue;
    }
</style-->
<article>
    <div align="left">
        <h3 style="font-size: 19px;float: left"><a style="font-weight: bold;">Manage Bug</a></h3>
    </div>
    <table align="right" width="100%">
        <tr>
            <td width="80%">
                <div class="subnav-links left">
                    <a href="/Home/ManageBug/" class="selected js-selected-navigation-item subnav-item" data-selected-links="repo_issues /AutomationSolutionz/Framework_0.1/issues?q=is%3Aopen+is%3Aissue">Bugs</a>
                    <a href="/Home/ManageTestCases/" class="js-selected-navigation-item subnav-item" data-selected-links="repo_pulls /AutomationSolutionz/Framework_0.1/issues?q=is%3Aopen+is%3Apr">Test Cases</a>
                    <a href="/Home/ManageLabel/" class="js-selected-navigation-item subnav-item" data-selected-links="repo_labels /AutomationSolutionz/Framework_0.1/labels">Labels</a>
                    <a href="/Home/ManageMilestone/" class="js-selected-navigation-item subnav-item" data-selected-links="repo_milestones /AutomationSolutionz/Framework_0.1/milestones">Milestones</a>
                </div>
            </td>
            <!--td width="55%">
                <div align="center">
                    <a class="button">Filters</a>
                    <input class="textbox" style="width: 60%" placeholder="Search Bugs">
                </div>
            </td-->
            <td width="20%"><a href="/Home/CreateNewBug/" class="createnew" type="button" id="new_task">Log New Bug</a></td>
        </tr>
    </table>

    <br><br>

    <div style="margin-top: 10%; border-radius: 3px;margin-bottom: 30px;width: 100%">
        <h3 style="background-color: #f5f5f5;margin: 0;border-radius: 3px 3px 0 0;border: 1px solid #e5e5e5;padding: 9px 10px 10px;font-size: 14px;line-height: 17px;display: block;">Bugs</h3>

        {% if bugs %}
        {% for x in bugs %}
        <div style="padding-top: 10px;padding-bottom: 10px;padding: 1px 10px;background: #fff;border: 1px solid #d8d8d8;border-top: 0px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;color: #666;font-size: 13px;">

            <table style="width: 100%; margin: 0.8%">
                <tr>
                    <td>
                        <a href="" class="bugs-title">{{x.1}}</a>&nbsp;
                        <a href="" class="label" style="background-color: #fbda04;padding: 3px 4px;font-size: 11px; min-width: 10px">Minar</a>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 12px">
                        {{x.0}} opened on {{x.8}} by {{x.7}}
                    </td>
                </tr>
            </table>

        </div>
        {% endfor %}
        {% endif %}

    </div>

    <!--table style="width: 100%;">
        <thead>
        <tr>
            <td style="border-bottom: 4px solid #ccc; text-align: center;" class="Text">Bug</td>
            <td style="text-align: center; border-bottom: 4px solid #ccc;" class="Text">Details</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 25%; border-right: 2px solid #ccc;">
                <div style="width: 100%;">
                    <input type="text" id="searchbox" placeholder="Search Bug">
                    <table>
                        {% if bugs %}
                        {% for x in bugs %}
                        <tr><td><b>{{x.0}}</b></td></tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
                <div id="bugs"></div>
            </td>
            <td style="width: 75%; border-left: 2px solid #ccc; position: relative;">
                <div style="position: absolute; min-width: 100%; top: 0;">
                    <p id='msg' style="font-weight: bold; text-align: center;" class="Text">Select any Bug to view</p>
                    <div id="infoDiv" style="display: none;">
                        <table>
                            <tr>
                                <td style="width:10%">
                                    <div align="right">
                                        <div id="type"></div>
                                    </div>
                                </td>
                                <td style="width: 50%">
                                    <div align="left">
                                        <div id="name">
                                        </div>
                                    </div>
                                </td>
                                <td width="40%">
                                    <table>
                                        <tr>
                                            <td>
                                                <a class="createnew" id="createNew" href="">CreateNew</a>
                                            </td>
                                            <td>
                                                <a class="github" id="rename" href="">Rename</a>
                                            </td>
                                            <td>
                                                <a class="twitter" id="edit" href="">Add/Remove</a>
                                            </td>
                                            <td>
                                                <a class="dribble" id="delete" href="">Delete</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="RunTestResultTable">

                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table-->
</article>
{% endblock %}