{% extends "BaseTemplate.html" %}

{% block title%}Manage Task{% endblock %}

{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/ManageTask.js"></script>
<style>
    #searchbox {
        width: 94%;
        padding: 5px;
        max-width: 95%;
        outline-color: #000;
        outline-style: none;
        box-shadow: 0 6px 6px -6px black;
        font-size: 1.2em;
    }

    #searchbox:focus {
        box-shadow: 0 6px 6px -6px blue;
    }
</style>
<article>
    <table style="width: 100%">
        <tr>
            <td width="50%" align="left"><b class="Text" style="color:#4183c4"><span id="project_code" style="cursor: pointer;"></span> / Manage Task</b></td>
            <td width="50%" align="right"><a style="margin-left: 80%;" href="" id="create_new_task" class="createnew" type="button">New Task</a></td>
        </tr>
    </table>
</article>
{% endblock %}