{% extends 'BaseTemplate.html' %}
{% block title %} Manage Requirement {% endblock %}
{% block content %}


<!-- Include jsTree -->
<link rel="stylesheet" href="/site_media/Jquery/jstree/themes/default/style.css">
<script type="text/javascript" src="/site_media/Jquery/jstree/jstree.min.js"></script>

<script type="text/javascript" src="/site_media/Jquery/Local/ManageRequirement.js"></script>

<!--style>
    #searchbox {
        width: 94%;
        padding: 5px;
        max-width: 95%;
        outline-color: #000;
        outline-style: none;
        box-shadow: 0 6px 6px -6px black;
        font-size: 1.2em;
    }

    #searchbox:focus {
        box-shadow: 0 6px 6px -6px blue;
    }
</style>
<table style="width: 100%">
    <tr>
        <td width="50%" align="left"><b class="Text" style="color:#4183c4"><span id="project_code" style="cursor: pointer;"></span> / Manage Requirements</b></td>
        <td width="50%" align="right"><a style="margin-left: 80%;" href="" id="create_new_requirement" class="createnew" type="button">New Requirement</a></td>
    </tr>
</table>
<table style="width: 100%;">
    <thead>
    <tr>
        <td style="border-bottom: 4px solid #ccc; text-align: center;" class="Text">Requirements</td>
        <td style="text-align: center; border-bottom: 4px solid #ccc;" class="Text">Requirement Detail</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width: 22%; border-right: 2px solid #ccc;">
            <div style="width: 100%;">
                <input type="text" id="searchbox" placeholder="Search Requirements">
            </div>
            <div id="tree"></div>
        </td>
        <td style="width: 78%; border-left: 2px solid #ccc; position: relative;">
            <div id = "RunTestResultTable" style="position: absolute; min-width: 100%; top: 0;">
                <p id="msg" style="font-weight: bold; text-align: center;" class="Text">Select any requirement to see details</p>
            </div>
        </td>
    </tr>
    </tbody>
</table-->


        <article>
            <a id="simple-menu" href="#sidr" class="button hint--right hint--bounce hint--rounded" data-hint="Apply Filter" style="text-decoration: none;"><img class="mini-loader" height="23" src="/site_media/menu.png" width="23"></a>
            <a style="float: right" href="" id="create_new_requirement" class="m-btn purple" type="button">New Requirement</a>
            <div id="sidr" class="sidr">
                <h3>Select Filters to apply</h3>
                <ul>
                    <li>
                        <input class="textbox" placeholder="Search & Select Filter Here" id="searchinput" style="padding-left: 10px; width: 95%; margin-top: 40%;z-index: 999999"/>

                        <style type="text/css">
                            .ui-widget-content {position: fixed}
                        </style>
                    </li>
                    <li>
                        <table style="margin-top: 5%; width: 100%">
                            <tr>
                                <th><p>Filtered By:</p></th>
                            </tr>
                            <tr>
                                <table id="searchedFilter">

                                </table>
                            </tr>
                            <!--tr><td style="display: none;" id="pagination_no">1</td></tr-->
                        </table>
                </ul>
            </div>


            <table width="100%">
                <tr>
                    <td>
                        <div style="float: left">
                            <h3 style="font-size: 19px;"><a style="font-weight: bold"><span id="project_code" style="cursor: pointer;"></span> / Manage Requirements</a></h3>
                            <b style="display: none;" id="pagination_no">1</b>
                        </div>
                    </td>
                    <td style="float: right">
                        <div id="UpperDiv">
                            <div>
                                <div>
                                    <b style="font-size: 120%;">showing <b id="start"></b> - <b id="end"></b> of <b id="total"></b> entries</b>
                                </div>
                                <div style="display: inline-block; float: right">
                                    <input  type="button" class="m-btn blue previous_page" value="<"/>
                                    <input  type="button" class="m-btn blue next_page" value=">"/>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div align="center">
                <div id="allReqs">
                </div>
                <div id="allPage" align="center" style="display: none;">
                    <br>
                    <br>
                    <b style="font-size: 150%;font-weight: bolder;">---------------------------------------------------------------------------------------</b>
                </div>
            </div>
            <div id="result_table">

            </div>
            <div id="pagination_div" align="right">
                <div style="display: inline-block">
                    <input  type="button" class="m-btn blue previous_page" value="<"/>
                    <input  type="button" class="m-btn blue next_page" value=">"/>
                </div>
            </div>

            <div id="floatouter" width="100%" align="center">
                <div id="inner">
                    <div id="chart">

                    </div>
                    <br/><br/>
                    <div id="show_button">

                    </div>
                </div>
            </div>

        </article>

{% endblock %}