{% extends 'BaseTemplate.html' %}
{% block title %} Manage Test Cases {% endblock %}
{% block content %}


<!-- Include jsTree -->
<link rel="stylesheet" href="/site_media/Jquery/jstree/themes/default/style.css">
<script type="text/javascript" src="/site_media/Jquery/jstree/jstree.min.js"></script>

<script type="text/javascript" src="/site_media/Jquery/Local/ManageRequirement.js"></script>

<style>
    #searchbox {
        width: 94%;
        padding: 5px;
        max-width: 95%;
        outline-color: #000;
        outline-style: none;
        box-shadow: 0 6px 6px -6px black;
        font-size: 1.2em;
    }

    #searchbox:focus {
        box-shadow: 0 6px 6px -6px blue;
    }
</style>
<table style="width: 100%">
    <tr>
        <td width="50%" align="left"><b class="Text" style="color:#4183c4"><span id="project_code" style="cursor: pointer;"></span> / Manage Requirements</b></td>
        <td width="50%" align="right"><a style="margin-left: 80%;" href="" id="create_new_requirement" class="createnew" type="button">New Requirement</a></td>
    </tr>
</table>
<table style="width: 100%;">
    <thead>
    <tr>
        <td style="border-bottom: 4px solid #ccc; text-align: center;" class="Text">Requirements</td>
        <td style="text-align: center; border-bottom: 4px solid #ccc;" class="Text">Requirement Detail</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width: 22%; border-right: 2px solid #ccc;">
            <div style="width: 100%;">
                <input type="text" id="searchbox" placeholder="Search Requirements">
            </div>
            <div id="tree"></div>
        </td>
        <td style="width: 78%; border-left: 2px solid #ccc; position: relative;">
            <div id = "RunTestResultTable" style="position: absolute; min-width: 100%; top: 0;">
                <p style="font-weight: bold; text-align: center;" class="Text">Select any requirement to see details</p>
            </div>
        </td>
    </tr>
    </tbody>
</table>

{% endblock %}