{% extends "BaseTemplate.html" %}

{% block title%}Manage Labels{% endblock %}

{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/ManageLabel.js"></script>
<script type="text/javascript" src="/site_media/Jquery/js/spectrum.js"></script>
<link rel='stylesheet' href='/site_media/spectrum.css' />
<!--style>
    #searchbox {
        width: 94%;
        padding: 5px;
        max-width: 95%;
        outline-color: #000;
        outline-style: none;
        box-shadow: 0 6px 6px -6px black;
        font-size: 1.2em;
    }

    #searchbox:focus {
        box-shadow: 0 6px 6px -6px blue;
    }
</style-->
<article>
    <div align="left">
        <h3 style="font-size: 19px;float: left"><a style="font-weight: bold;">Manage Labels</a></h3>
    </div>
    <table width="100%">
        <tr>
            <td width="80%">
                <div class="subnav-links left">
                    <a href="/Home/ManageBug/" class="js-selected-navigation-item subnav-item" data-selected-links="repo_issues /AutomationSolutionz/Framework_0.1/issues?q=is%3Aopen+is%3Aissue">Bugs</a>
                    <a href="/Home/ManageTestCases/" class="js-selected-navigation-item subnav-item" data-selected-links="repo_pulls /AutomationSolutionz/Framework_0.1/issues?q=is%3Aopen+is%3Apr">Test Cases</a>
                    <a href="/Home/ManageLabel/" class="selected js-selected-navigation-item subnav-item" data-selected-links="repo_labels /AutomationSolutionz/Framework_0.1/labels">Labels</a>
                    <a href="/Home/ManageMilestone/" class="js-selected-navigation-item subnav-item" data-selected-links="repo_milestones /AutomationSolutionz/Framework_0.1/milestones">Milestones</a>
                </div>
            </td>
            <!--td width="55%">
                <div align="center">
                    <a class="button">Filters</a>
                    <input class="textbox" style="width: 60%" placeholder="Search Bugs">
                </div>
            </td-->
            <td width="20%"><a class="createnew" type="button" id="new_label" style="cursor: pointer">New Label</a></td>
        </tr>
    </table>

    <br><br>

    <div id="label_creation" class="tray" align="center" style="border: 2px solid ghostwhite; width: 70%;margin-left: 20%;display: none">
        <input class="textbox" placeholder="Label Name..." style="float: left;" id="label_name">
        <input type="color" class="textbox" style="width: auto;float: left;" id="color_picker">
        &nbsp;&nbsp;&nbsp;
        <input type="button" class="button blue" id="create_label" value="Create Label">
        <input type="button" class="button" id="cancel_label" value="Cancel">
    </div>

    <table class="one-column-emphasis">
        <thead>
        <tr>
            <th>Labels</th>
        </tr>
        </thead>
        <tbody>

        {% if labels %}
            {% for x in labels %}
            <tr><td><span class="createnew" style="background-color: {{x.1}}; color: #ffffff">{{x}}</span></td></tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <!--table style="width: 100%;">
        <thead>
        <tr>
            <td style="border-bottom: 4px solid #ccc; text-align: center;" class="Text">Bug</td>
            <td style="text-align: center; border-bottom: 4px solid #ccc;" class="Text">Details</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 20%; border-right: 2px solid #ccc;">
                <div style="width: 100%;">
                    <input type="text" id="searchbox" placeholder="Search Bug">
                </div>
                <div id="bugs"></div>
            </td>
            <td style="width: 80%; border-left: 2px solid #ccc; position: relative;">
                <div style="position: absolute; min-width: 100%; top: 0;">
                    <p id='msg' style="font-weight: bold; text-align: center;" class="Text">Select any Bug to view</p>
                    <div id="infoDiv" style="display: none;">
                        <table>
                            <tr>
                                <td style="width:10%">
                                    <div align="right">
                                        <div id="type"></div>
                                    </div>
                                </td>
                                <td style="width: 50%">
                                    <div align="left">
                                        <div id="name">
                                        </div>
                                    </div>
                                </td>
                                <td width="40%">
                                    <table>
                                        <tr>
                                            <td>
                                                <a class="createnew" id="createNew" href="">CreateNew</a>
                                            </td>
                                            <td>
                                                <a class="github" id="rename" href="">Rename</a>
                                            </td>
                                            <td>
                                                <a class="twitter" id="edit" href="">Add/Remove</a>
                                            </td>
                                            <td>
                                                <a class="dribble" id="delete" href="">Delete</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="RunTestResultTable">

                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table-->
</article>
{% endblock %}