{% extends "BaseTemplate.html" %}
{% block title%} Test Case Management {%endblock%}
{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/ManageTestSet.js"></script>
<br>
<div id="general_info">
    <div id="info" style="margin: auto" align="center">
        {% if error_message %}<p id="error" align="center"><strong>{{error_message}}</strong></p>{% endif %}
        <h4>Test {{data_type}} Name:<b style=" font-weight: bold; font-size: 1.4em; color: #4169e1;">  {{name}}</b></h4>
    </div>
</div>
<div id="searchBox" align="left">

</div>
<br>
<div id="main" align="center" style="width: 100%;">
    <div id="left_div" style="width: 50%;float: left;">
        <form  action="{% url 'MySite.views.DeleteTestCasesFromSet' %}" method="POST">
            {%csrf_token%}
            <div>
                <div><input name="set_name" value="{{name}}" style="display: none"/></div>
                <div><input name="set_type" value="{{data_type}}" style="display: none" /></div>
            </div>
            <div style="display: block;margin:auto" width="80%">
                <p align="center" style="font-weight: bolder;font-size: 1.2em;">Available Test Cases</p>
                <hr style="width: 80%">
                <table class="ui-widget" style="border-collapse: collapse" width="80%">
                    <tr>
                        <th class="ui-widget-header" align="center" style="font-weight: bold;padding: 2px;" colspan="1">TestCaseID</th>
                        <th class="ui-widget-header" align="center" style="font-weight: bold;padding: 2px;"colspan="1">TestCaseName</th>
                        <th class="ui-widget-header" align="center" style="font-weight: bold;padding: 2px;"colspan="1">&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                    {% for x in ex_lst %}
                    <tr>
                        <td class="ui-widget-content" align="center">{{x.item1}}</td>
                        <td class="ui-widget-content"align="left">{{x.item2}}</td>
                        <td class="ui-widget-content" align="center"><input type="checkbox" id="{{x.item1}}" value="{{x.item1}}" name="selectTCremove"/></td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <button type="submit" id="RemoveBtn" class="button minibutton danger">Remove Selected TCs</button>
            </div>
        </form>
    </div>
    <div id="right_div_outer" style="width:50%;float:left;">
       <form action="{% url 'MySite.views.AddTestCasesToSet' %}" method="POST">
           {%csrf_token%}
           <div>
               <div><input name="set_name" value="{{name}}" style="display: none"/></div>
               <div><input name="set_type" value="{{data_type}}" style="display: none" /></div>
           </div>
           <div style="display: block;margin: auto">
               <p align="center" style="font-weight: bolder;font-size: 1.2em;">Select Test Case(s) To Add</p>
               <hr style="width: 80%">

               <div id="right_div" align="center">

               </div>
               <br/>
               <button type="submit" id="addBtn" class="button minibutton primary">Add Selected TCs</button>
           </div>
       </form>
    </div>
</div>
{%endblock%}