{% extends 'BaseTemplate.html' %}
{% block title %} Manage Test Cases {% endblock %}
{% block content %}

<!-- Include bootstrap -->
<link rel="stylesheet" href="/site_media/bootstrap/css/bootstrap.min.css">

<!-- Include jsTree -->
<link rel="stylesheet" href="/site_media/Jquery/jstree/themes/default/style.css">
<script type="text/javascript" src="/site_media/Jquery/jstree/jstree.min.js"></script>

<!-- Include footable -->
<link rel="stylesheet" href="/site_media/Jquery/footable/css/footable.metro.min.css">
<script type="text/javascript" src="/site_media/Jquery/footable/js/footable.all.min.js"></script>

<script type="text/javascript" src="/site_media/Jquery/Local/ManageTestCases.js"></script>


<div>
	<button id="select_all_btn">Select all visible sections</button>
	<button id="select_all_and_open_btn">Select and Open all sections</button>
</div>
<br><br>

<table style="width: 100%;">
	<td>
		<div id="tree"></div>
	</td>
	<td>
		<div id = "RunTestResultTable">
			<p style="font-weight: bold;" class="Text">Select any section to display the corresponding Test Cases</p>
		</div>
	</td>
</table>

{% endblock %}