{% extends 'BaseTemplate.html' %}
{% block title %} Manage Test Cases {% endblock %}
{% block content %}

<!-- Include bootstrap -->
<link rel="stylesheet" href="/site_media/bootstrap/css/bootstrap.min.css">

<!-- Include jsTree -->
<link rel="stylesheet" href="/site_media/Jquery/jstree/themes/default/style.css">
<script type="text/javascript" src="/site_media/Jquery/jstree/jstree.min.js"></script>

<script type="text/javascript" src="/site_media/Jquery/Local/ManageTestCases.js"></script>

<div id="tree"></div>

<button id="btn">Click me</button>

{% endblock %}