{% extends "BaseTemplate.html" %}

{% block title%}Manage Milestones{% endblock %}

{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/ManageMilestone.js"></script>
<!--style>
    #searchbox {
        width: 94%;
        padding: 5px;
        max-width: 95%;
        outline-color: #000;
        outline-style: none;
        box-shadow: 0 6px 6px -6px black;
        font-size: 1.2em;
    }

    #searchbox:focus {
        box-shadow: 0 6px 6px -6px blue;
    }
</style-->
<article>

    <a id="simple-menu" href="#sidr" class="button hint--right hint--bounce hint--rounded" data-hint="Apply Filter" style="text-decoration: none;"><img class="mini-loader" height="23" src="/site_media/menu.png" width="23"></a>
    <div id="sidr" class="sidr">
        <h3>Select Filters to apply</h3>
        <div style="text-align: center; margin: 12px;">
            <button onclick='$.sidr("toggle", "sidr");' style="width: 100%; padding: 4px;">X</button>
        </div>
        <ul>
            <li>
                <input class="textbox" placeholder="Search & Select Filter Here" id="searchinput" style="padding-left: 10px; width: 95%; margin-top: 40%;z-index: 999999"/>

                <style type="text/css">
                    .ui-widget-content {position: fixed}
                </style>
            </li>
            <li>
                <table style="margin-top: 5%; width: 100%">
                    <tr>
                        <th><p>Filtered By:</p></th>
                    </tr>
                    <tr>
                        <table id="searchedFilter">

                        </table>
                    </tr>
                    <!--tr><td style="display: none;" id="pagination_no">1</td></tr-->
                </table>
        </ul>
    </div>


    <table width="100%">
        <tr>
            <td>
                <div style="float: left">
                    <h3 style="font-size: 19px;"><a style="font-weight: bold">Manage Milestones</a></h3>
                    <b style="display: none;" id="pagination_no">1</b>
                </div>
            </td>
            <td style="float: right">
                <div id="UpperDiv">
                    <div>
                        <div>
                            <b style="font-size: 120%;">showing <b id="start"></b> - <b id="end"></b> of <b id="total"></b> entries</b>
                        </div>
                        <div style="display: inline-block; float: right">
                            <input  type="button" class="minibutton previous_page" value="<"/>
                            <input  type="button" class="minibutton next_page" value=">"/>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div align="center">
        <div id="allMilestones">
        </div>
        <div id="allPage" align="center" style="display: none;">
            <br>
            <br>
            <b style="font-size: 150%;font-weight: bolder;">---------------------------------------------------------------------------------------</b>
        </div>
    </div>
    <div id="result_table">

    </div>
    <div id="pagination_div" align="right">
        <div style="display: inline-block">
            <input  type="button" class="minibutton previous_page" value="<"/>
            <input  type="button" class="minibutton next_page" value=">"/>
        </div>
    </div>

    <div id="floatouter" width="100%" align="center">
        <div id="inner">
            <div id="chart">

            </div>
            <br/><br/>
            <div id="show_button">

            </div>
        </div>
    </div>


<!--div align="left">
    <h3 style="font-size: 19px;float: left"><a style="font-weight: bold;">Manage Milestones</a></h3>
</div>
<table width="100%">
    <tr>
        <td width="80%">
            <div class="subnav-links left">
                <a href="/Home/ManageBug/" class="js-selected-navigation-item subnav-item" data-selected-links="repo_issues /AutomationSolutionz/Framework_0.1/issues?q=is%3Aopen+is%3Aissue">Bugs</a>
                <a href="/Home/ManageTestCases/" class="js-selected-navigation-item subnav-item" data-selected-links="repo_pulls /AutomationSolutionz/Framework_0.1/issues?q=is%3Aopen+is%3Apr">Test Cases</a>
                <a href="/Home/ManageLabel/" class="js-selected-navigation-item subnav-item" data-selected-links="repo_labels /AutomationSolutionz/Framework_0.1/labels">Labels</a>
                <a href="/Home/ManageMilestone/" class="selected js-selected-navigation-item subnav-item" data-selected-links="repo_milestones /AutomationSolutionz/Framework_0.1/milestones">Milestones</a>
            </div>
        </td>
        <!--td width="55%">
            <div align="center">
                <a class="button">Filters</a>
                <input class="textbox" style="width: 60%" placeholder="Search Milestone">
            </div>
        </td-->
            <!--td width="20%"><a href="/Home/CreateMilestone/" class="createnew" type="button" style="float: right">New Milestone</a></td>
        </tr>
    </table>

    <br><br>

    <div style="position: relative;border-radius: 3px;margin-bottom: 30px;width: 100%">
        <h3 style="background-color: #f5f5f5;margin: 0;border-radius: 3px 3px 0 0;border: 1px solid #e5e5e5;padding: 9px 10px 10px;font-size: 14px;line-height: 17px;display: block;">Milestones</h3>

        {% if milestone_list %}
        {% for x in milestone_list %}
        <div style="padding-top: 10px;padding-bottom: 10px;padding: 1px 10px;background: #fff;border: 1px solid #d8d8d8;border-top: 0px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;color: #666;font-size: 13px;">

            <table style="margin: 2%;width: 100%">
                <tr>
                    <td style="width: 45%">
                        <h2 class="milestone-title-link">
                            <a href="/Home/CreateMilestone/" style="color: #000000;">{{x.1}}</a>
                        </h2>
                        <div class="milestone-meta">
                          <span class="milestone-meta-item">
                             {{x.4}}
                          </span>
                          <span class="milestone-meta-item">
                            <span class="octicon octicon-clock"></span>
                            Last updated <span title="2014-08-06 23:58:26 -0700">{{x.9}}</span>
                          </span>
                        </div>
                        <div class="milestone-meta">
                          <span class="milestone-meta-item left-days" style="color: {{x.15}}">
                             {{x.14}}{{x.13}} days
                          </span>
                          <span class="milestone-meta-item">
                            <span class="octicon octicon-clock"></span>
                            Last updated by <span title="2014-08-06 23:58:26 -0700">{{x.7}}</span>
                          </span>
                        </div>
                    </td>
                    <td style="width: 10%"></td>
                    <td style="width: 45%">
                        <table>
                            <tr>
                                <span class="progress-bar" style="width: 75%;"><span class="progress" style="width: {{x.10}}%">&nbsp;</span></span>
                            </tr>
                            <tr>
                                <table class="stats">
                                    <tr>
                                        <td class="stat">
                                            <b><span class="progress-percent">{{x.10}}%</span></b>
                                            <span class="stat-label">complete</span>
                                        </td>
                                        <td class="stat">
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <b>{{x.11}}</b>
                                            <span class="stat-label">open</span>
                                        </td>
                                        <td class="stat">
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <b>{{x.12}}</b>
                                            <span class="stat-label">closed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="/Home/CreateMilestone/">Edit</a></td>
                                        <td><a href="">Mark as closed</a></td>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td><a href="" style="color: red">Delete</a></td>
                                    </tr>
                                </table>

                            </tr>
                            <!--tr>
                                <table>
                                    <tr>
                                        <td><a href="">Edit</a></td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td><a href="">Mark as closed</a></td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td><a href="" style="color: red">Delete</a></td>
                                    </tr>
                                </table>
                            </tr-->
                        <!--/table>

                    </td>
                </tr>
            </table>

        </div>
        {% endfor %}
        {% endif %}

    </div>

    <!--table style="width: 100%;">
        <thead>
        <tr>
            <td style="border-bottom: 4px solid #ccc; text-align: center;" class="Text">Bug</td>
            <td style="text-align: center; border-bottom: 4px solid #ccc;" class="Text">Details</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 20%; border-right: 2px solid #ccc;">
                <div style="width: 100%;">
                    <input type="text" id="searchbox" placeholder="Search Bug">
                </div>
                <div id="bugs"></div>
            </td>
            <td style="width: 80%; border-left: 2px solid #ccc; position: relative;">
                <div style="position: absolute; min-width: 100%; top: 0;">
                    <p id='msg' style="font-weight: bold; text-align: center;" class="Text">Select any Bug to view</p>
                    <div id="infoDiv" style="display: none;">
                        <table>
                            <tr>
                                <td style="width:10%">
                                    <div align="right">
                                        <div id="type"></div>
                                    </div>
                                </td>
                                <td style="width: 50%">
                                    <div align="left">
                                        <div id="name">
                                        </div>
                                    </div>
                                </td>
                                <td width="40%">
                                    <table>
                                        <tr>
                                            <td>
                                                <a class="createnew" id="createNew" href="">CreateNew</a>
                                            </td>
                                            <td>
                                                <a class="github" id="rename" href="">Rename</a>
                                            </td>
                                            <td>
                                                <a class="twitter" id="edit" href="">Add/Remove</a>
                                            </td>
                                            <td>
                                                <a class="dribble" id="delete" href="">Delete</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="RunTestResultTable">

                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table-->
</article>
{% endblock %}