{% extends "BaseTemplate.html" %}


 {% block title%} Run Test {% endblock%}

 {% block content %}

<article>
		
<header>MKS Report</header>		
		
		
<table >
     <tbody>
     		<tr> 
     			<td> 
     				<div style = "margin-top: 20px;"  >
					
						<!-- AutoComplete Email Search Box -->
						<label class = 'Text'>Add Email:</label>
						<input id='Email_Search_Box' type='text' title = 'Search Email' />
						
						<!-- Folder Input Box -->
						<label class = 'Text'>&nbsp; Add Folder:</label>
						<input id='FolderName' type='text' title = 'Add Folder' />
					</div>
				</td>
     		</tr>
     	</tbody>
</table >


<table style = "margin-top: 1pc" id = 'MKSReportTable2'>
	<tbody>
		<tr id = "MKSReportQuery"> 
     			<th class = 'Text' style= 'text-align: left'> Email: </th>
     	</tr>
     	
     	<tr>
     		<td>
     		 	<img style = "width: 5pc; cursor: pointer; cursor: hand; margin-top: 1pc " class="Buttons" title = "Submit MKS Query" src="/site_media/Submit.png" />
     		</td> 
     	</tr>	
     	
   </tbody>
</table>


<table>
	<tbody>  	
     	<tr id = "Wait" style = "display: none;">
     	       <th style = "text-decoration: blink;"> Please Wait, Report Will Take Few Minutes... </th> 
     	</tr>
     	
     	<tr id = "TotalTimeRow"  style = "display: none;"> 
	     		
	     		<th >Total Time Taken To Generate The Report: </th>
	     		<td >
	     			<div id = "TotalTimeTaken">
	     			
	     			</div>
	     		</td>
     	</tr>
     	
	</tbody>
</table>
		

<!-- Following code is for MKS Report Table -->


<p class='flip'>MKS Report</p>

<div id = "MKSReportTable" style="display: none;" >
	
</div>

<!-- *********************** -->
		
	
		
		
				
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp; </font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp; </font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp; </font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
			
			
			
</article>
				
{% endblock %}		






<!-- +++++++++++++++++++++++++++++++++++++++++++ Second Tab Manue++++++++++++++++++++++++++++++++++++++++++++ -->

<!--


		
		
 Run Test, Reset, Stop Test, Refresh, and Re-run button code 
<table id = "SecondTabManu"   >
			<tbody>
				<tr>
				   <td>
						<form action="." method = "GET">
						
								<p> <font color="#FFFFFF">&nbsp;</font>  </p>
								
								<a  href = "javascript:history.back()">
					    			<img src="/site_media/reset.png"   alt="RunTest" title="Back"/>
					    			
					    		</a>
					    		
					    		<a  href = "javascript:location.reload(true)">
					    			<img src="/site_media/refresh.png"  alt="RunTest" title="Refresh"/>
					    			
					    		</a>
								
					    		
					    		
								<input  name = "runtest" type="image" src = "/site_media/runtest.png"   title="Run Test"   value="Run Test" />
								
								<input  name = "stop" type="image" src = "/site_media/Stoprun.png"   title="Stop Test"   value="Stop Test" />
								
								<input  name = "rerun" type="image" src = "/site_media/reruntest.png"   title="Rerun Test"   value="Rerun Test" />
								
								
								
							<!-- Closing the form is at the end of code cos following code will run when Run Test button is clicked 
							
					</td>
				</tr>
		</tbody>
</table>
	  	
	  	<!-- +++++++++++++++++Drop Down Code Is Missing...Please copy from bottom of this page+++++++++++++++++++++++++++++++ 	
	
		</form>		





<!-- ++++++++++++++++++++++++++++++++++++++++++ Drop Down Code +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
		
<!-- Tester ID, Test Set ID code	  	
		<p> </p>
	<table border="5" cellpadding="5" cellspacing="2" style="background-color:#000033";width: 900px;">
			<tbody>
						
			{% if not Rerun %}
				{% if not stoprun  %}
					{% if not re_run_tstrid %}
					<tr  >
						<!-- Tester Id Selection Box 
							<th><label for="tester_id"><font face="Arial" size="3" color="white"><b>Tester ID:</b></label></th>
								<td  >
									<select  name="tid" >
										<!--  {% for item in tester_id %} -->
											
										<!--  {% endfor %} 
									</select>
								</td>
					{% endif %}
				{% endif %}
			{% endif %}
			
			
			{% if stoprun %}					
					<tr>
						<!-- Tester Id Selection Box 
						<th><label for="tester_id"><font face="Arial" size="3" color="white"><b>Tester ID:</b></label></th>
							<td  >
								<select  name="tid" >
									{% for item in tester_id %}
										<option  value={{item}} style="color: #00000 ; background-color: #D6D6FF;">{{item}}</option>
									{% endfor %}
								</select>
							</td>
							
							<table>
								<tr>
									<td>
										<h2 style = "color: #380000 ">Please Select Tester ID To Stop The Test.</h2>	
									</td>
								</tr>
								
								<tr>	
									<td>
									&nbsp;
									 <input   style = "font-family:serif;  color:#00000; font-weight:bold; width: 80px; height: 30px;" value="Submit" type="submit"  name = "stopsubmited" >
									</td>
								<tr>
							</table>
			 {% endif %}
						
			
			<!-- TestSet Id Selection Box 
			{% if testset_id %}
						<th><label for="testset_id"><font face="Arial" size="3" color="white"><b>Test Set ID:</b></label></th>
							<td>
								<select  name="tsid" >
									{% for item in testset_id %}
										<option  value={{item}} style="color: #00000 ; background-color: #D6D6FF;">{{item}}</option>
									{% endfor %}
									
								</select>
							</td>
					</tr>
					
			{% endif %}
			
					
			{% if Rerun %}
			
						
						<tr>
						<!-- Tester Id Selection Box 
						<th><label for="tester_id"><font face="Arial" size="3" color="white"><b>Tester ID:</b></label></th>
							<td  >
								<select  name = 'rerun_runid' " >
									{% for item in tester_id %}
										<option   value={{item}} style="color: #00000 ; background-color: #D6D6FF;">{{item}}</option>
									{% endfor %}
								</select>
								
								&nbsp;
								<input   style = "font-family:serif;  color:#00000; font-weight:bold;" value="GO" type="submit"  name = "rungo1" >
							</td>
				{% if re_run_tstrid %}
				
						<th><label for="testset_id"><font face="Arial" size="3" color="white"><b>Test Run IDs For {{re_run_tstrid}}:</b></label></th>
							<td>
								<select  name="rerun_testid" >
									{% for item in RunIDs %}
										<option  value={{item}} style="color: #00000 ; background-color: #D6D6FF;">{{item}}</option>
									{% endfor %}
									
								</select>
								
								&nbsp;
								<input   style = "font-family:serif;  color:#00000; font-weight:bold;" value="Run Test" type="submit"  name = "rungo2" >
							</td>
							
				{% else %}	
							
						<table>
								<tr>
									<td>
										<h2 style = "color: #380000 ">Please Select Tester ID to Re-run the Test Set.</h2>	
									</td>
								</tr>
						</table>
				{% endif %}
									
			{% endif %}
			
			
			
			
						
						
			</tbody>
	</table>
		
	
	<!-- Client Name, Memory Type, Device Type and Device Model code 
	
	{% if testset_id %}	
		{% if not re_run_tstrid %}
	<table border="1" cellpadding="1" cellspacing="1" style="background-color:#000033";width: 500 px;">
			<tbody>	
					<tr>
							<!-- Client Name Selection Box 
							<th><label ><font face="Arial" size="2" color= "white"><b>Client Name:</b></label></th>
							<td>
								<select  name="clientname" >
										<option  value= N/A style="color: #00000 ; background-color: #D6D6FF;">N/A</option>
										<option  value= iTunes style="color: #00000 ; background-color: #D6D6FF;">iTunes</option>
										<option  value= WMP style="color: #00000 ; background-color: #D6D6FF;">WMP</option>
									
								</select>
							</td>
							
							<!-- Memory Type Selection Box 
							<th><label><font face="Arial" size="2" color= "white"><b>Memory Type:</b></label></th>
							<td>
								<select  name="memorytype" >
										<option  value=N/A style="color: #00000 ; background-color: #D6D6FF;">N/A</option>
										<option  value=BBX style="color: #00000 ; background-color: #D6D6FF;">BBX</option>
										<option  value=EMMC style="color: #00000 ; background-color: #D6D6FF;">EMMC</option>
										<option  value=SD style="color: #00000 ; background-color: #D6D6FF;">SD</option>
									
								</select>
							</td>
							
							
							<!-- Device Type Selection Box 
							<th><label><font face="Arial" size="2" color= "white"><b>Device Type:</b></label></th>
							<td>
								<select  name="devicetype" >
										
										<option  value=Java style="color: #00000 ; background-color: #D6D6FF;">Java</option>
										<option  value=BBX style="color: #00000 ; background-color: #D6D6FF;">BBX</option>
									
								</select>
							</td>
							
							
							<!-- Device Model Type Selection Box 
							<th><label><font face="Arial" size="2" color= "white"><b>Device Model:</b></label></th>
							<td>
								<select  name="devicemodel" >
										
										<option  value=Monza style="color: #00000 ; background-color: #D6D6FF;">Monza</option>
										<option  value=9930 style="color: #00000 ; background-color: #D6D6FF;">9930</option>
										<option  value=Dekota style="color: #00000 ; background-color: #D6D6FF;">Dekota</option>
										<option  value=Jennings style="color: #00000 ; background-color: #D6D6FF;">Jennings</option>
									
								</select>
							</td>
						</tr>
							
				</tbody>
			</table>
	 	{% endif %}
	 	
	{% endif %}
	
	-->