{% extends "BaseTemplate.html" %}
{% block title%} Test Case Management {%endblock%}
{% block content %}
<div style="width:720px;background:transparent;margin-left:auto;margin-right:auto;" >

     <div align="center">
        {% if error_message %}<p align="center"><strong>{{error_message}}</strong></p>{% endif %}
     </div>
    <form action="{% url 'MySite.views.Process' %}" method="POST">
        {% csrf_token %}
        <table id="TestSetName" style='display:block;'>
            <tbody>
            <tr>
                <td align="center">
                    <h3><a href="#">Test Set Details</a></h3>
                </td>
            </tr>
            <tr>
                <td>
                    <label><b id="TestSetNameLabel" class="Text">Test Set Name:</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="ui-corner-all" id="TestSet" style="margin-left: -2%" type='text' name='test_set_name' value={{name}} readonly="readonly" />
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td>
                    <label><b id="SetType" class="Text">Test Set Type:</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="ui-corner-all" id="TestSetType" style="margin-left: -2%" type='text' name='test_set_type'/>
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td align="center">
                    <input type="submit" id="submit_button" value="Save"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
{%endblock%}