{% extends 'BaseTemplate.html' %}
{% block title %} Requirement Detail {% endblock %}
{% block content %}
<script type="text/javascript" src="/site_media/jquery/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="/site_media/jquery/tiny_mce/tiny_mce_popup.js"></script>
<script type="text/javascript" src="/site_media/jquery/tiny_mce/tinymce.min.js"></script>
<script type="text/javascript" src="/site_media/jquery/Local/RequirementDetail.js"></script>
<script type="text/javascript">
    tinymce.init({
        'selector':'textarea',
        plugins: [
            "advlist autolink lists charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime table contextmenu paste"
        ]

    });
</script>
<div align="center" style="margin: auto;">
    <a class="createnew" onclick="location.href='/Home/'+ $.session.get('project_id')+'/EditRequirement/'+ $('#req_id').text().trim()" style="float: right;cursor: pointer">Edit Requirement</a>
    <table align="center" width="100%">
        <tr>
            <td align="25%">
                <table align="center">
                    <tbody>
                        <tr><td align="right" style="vertical-align: 0%;"><b class="Text">Status:</b></td><td align="left" style="color: {{color}};vertical-align: 0%;">{{status}}</td></tr>
                        <tr><td align="right" style="vertical-align: 0%;"><b class="Text">Milestone:</b></td><td align="left" style="vertical-align: 0%;">{{milestone}}</td></tr>
                        <tr><td align="right" style="vertical-align: 0%;"><b class="Text">Team:</b></td><td align="left" style="vertical-align: 0%;">{{team}}</td></tr>
                        <tr><td align="right" style="vertical-align: 0%;"><b class="Text">Started On:</b></td><td align="left" style="vertical-align: 0%;">{{start_date}}</td></tr>
                        <tr><td align="right" style="vertical-align: 0%;"><b class="Text">Ending In:</b></td><td align="left" style="vertical-align: 0%;">{{end_date}}</td></tr>

                    </tbody>
                </table>
            </td>
            <td width="50%">
                <table align="center">
                    <tr>
                        <td style="vertical-align: 0%;"><a href="#" id="req_id"><h2>{{requirement_id}}</h2></a></td>
                        <td style="vertical-align: 0%;"><h2> - {{requirement_title}}</h2></td>
                    </tr>
                    <tr>
                        <td align="left" style="font-size: 125%;vertical-align: 0%;" colspan="2">
                            {{requirement_description}}
                        </td>
                    </tr>
                </table>
            </td>
            <td align="25%">
                <table align="center">
                    <tbody>
                        <tr><td align="right" style="vertical-align: 0%;"><b class="Text">Created By:</b></td><td align="left" style="vertical-align: 0%;">{{creator}}</td></tr>
                        <tr><td align="right" style="vertical-align: 0%;"><b class="Text">Creation Date:</b></td><td align="left" style="vertical-align: 0%;">{{creation_date}}</td></tr>
                        <tr><td align="right" style="vertical-align: 0%;"><b class="Text">Modified By:</b></td><td align="left" style="vertical-align: 0%;">{{modifier}}</td></tr>
                        <tr><td align="right" style="vertical-align: 0%;"><b class="Text">Modification Date:</b></td><td align="left" style="vertical-align: 0%;">{{last_modified}}</td></tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <table width="100%">
                    {% if all_comments%}
                        {% for x in all_comments %}
                        <tr>
                            <td width="100%">
                                <table>
                                    <tr><td colspan="2"><b style="color: #4183c4" class="Text">{{x.1}}</b></td></tr>
                                    <tr>
                                        <td align="left" width="40%"><b style="font-size: 105%;font-weight: bolder">{{x.3}}</b></td>
                                        <td style="font-weight: bold;" align="right" width="60%">{{x.2}}</td>
                                    </tr>
                                    <tr><td colspan="2" style="font-size: 120%;font-family:Consolas;">{{x.0|removetags:""|safe}}</td></tr>
                                    {% if x.4 %}
                                    <tr><td><a media="all" target="_blank" href="{{x.5}}">Show Attachment</a> </td><td>&nbsp;</td></tr>
                                    <tr><td colspan="2">&nbsp;</td></tr>
                                    {% else %}
                                    <tr><td colspan="2">&nbsp;</td></tr>
                                    {% endif %}

                                </table>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr><td><b class="Text">Be the first one to comment..</b> </td></tr>
                    {% endif %}
                </table>
            </td>
            <td>&nbsp;</td>
            <td>
                <div>
                    <table>
                        {% if labels %}
                        {% for x in labels %}
                        <tr><td><a class="label" style="background-color: {{x.2}};">{{x.1}}</a></td></tr>
                        {% endfor %}
                        {% endif %}
                    </table>

                </div>
            </td>
        </tr>
        <tr>
            <td align="25%">&nbsp;</td>
            <td width="50%">
                <form method="post" action="{% url 'MySite.views.PostRequirementComment' project_id requirement_id%}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{comment}}
                        <tr><td>&nbsp</td><td><input type="submit" value="Comment" class="primary button"/></td></tr>
                    </table>

                </form>
            </td>
            <td align="25%">
                &nbsp;
            </td>
        </tr>
    </table>
</div>

{% endblock %}