{% extends "BaseTemplate.html" %}

{% block title%}Manual Edit{% endblock %}

{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/RunIDEditTestCases.js"></script>
<article>
    <div id="information" align="center">
        <!--<span><b style="color: blue;">RunID:</b></span><b id="runid">{{runid}}</b>&nbsp;&nbsp;&nbsp;
        <span><b style="color:blue;">TestCaseName:</b></span><b id="testcasename">{{testcasename}}</b>
        <span><b style="color:blue;">TestCaseID:</b></span><b id="testcaseid">{{testcaseid}}</b>-->
        <p  class="flip" title = 'IndividualTestCaseInfo' style="display: block">Individual Test Case Info</p>
        <table class="ui-widget" style="font-size:small; border-collapse:collapse;" width="100%">
            <tr>
                <th class="ui-widget-header" style="text-align: center"><b>RunID</b></th>
                <th class="ui-widget-header" style="text-align: center"><b>Test Case Name</b></th>
                <th class="ui-widget-header" style="text-align: center"><b>Test Case ID</b></th>
                <th class="ui-widget-header" style="text-align: center"><b>Test Case Status</b></th>
            </tr>
            <tr>
                <td id="runid" class="ui-widget-content" style="text-align: center">{{runid}}</td>
                <td id="testcasename" class="ui-widget-content" style="text-align: center">{{testcasename}}</td>
                <td id="testcaseid" class="ui-widget-content" style="text-align: center">{{testcaseid}}</td>
                <td id="testcasestatus" class="ui-widget-content" style="text-align: center"></td>
            </tr>
        </table>
    </div>
    <br>
    <hr>
    <div id="RunIDTestCaseHeader">
        <p  class="flip" title = 'RunIDHeader' style="display: block">TestCase Run Detail</p>
        <div id="RunIDTestCaseData">
        </div>
        <div align="right">
            <button class="buttonCustom" title = 'TestStepChange' id='passAll' style="display:inline-block">Pass All Steps</button>
            <button class="buttonCustom" title = 'TestStepChange' id='changeStatus' style="display:inline-block">ChangeStatus</button>
        </div>
    </div>
    <hr>
    <div id="back">
        <div id="inside_back">

        </div>
    </div>
    <!--<div>
        <p  class="flip" title = 'TestStepChange' id='changeStatus' style="display:block">ChangeStatus</p>
        <p  class="flip" title = 'TestStepChange' id='passAll' style="display:block">Pass All Steps</p>
        <p  class="flip" title = 'TestStepChange' id='failReason' style="display:block">Change Fail Reason</p>
        <div>
            <div id="change_div">

            </div>
        </div>
    </div>
    <p  class="flip" title = 'TestStepName' id='stepname' style="display:none;margin-top: 50px;"></p>
    <div id="TestStepDetail" style="display: none">
    </div>-->
    <div align="left" style="margin-left: 0px; margin-top: 50px;">
        <p  class="flip" title = 'BackPage' style="display: block"> Return to RunID Page </p>
    </div>
</article>
{%endblock%}