{% extends "BaseTemplate.html" %}
{% block title%} Test Step Management {%endblock%}
{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/TestStep.js"></script>
        <script>
            $(document).ready(function(){
                $("#feature_driver").trigger('click');
            });
        </script>

<div align="left">
    <h3 style="font-size: 19px;"><a style="font-weight: bold">Manage Feature & Driver</a></h3>
</div>

<div id='choice_div' align="center">
    <br/>
    <input type='button' id='create_edit' class="button minibutton primary" value="Create/Edit"/>
    <input type='button' id='search' class="button minibutton primary" value="Search"/>
    <input type='button' id='feature_driver' class="button minibutton primary" value="Feature/Driver Options"/>
</div>

<div id='create_edit_div' align="center">
    <div id='choice'>

    </div>

    <br>
    <form action="{% url 'MySite.views.Process_TestStep'%}" method="post">
        {%csrf_token%}
        <div id='info_div'>

        </div>
        <br>
        <div id='footer_div' style="margin-top: 150px;">

        </div>
    </form>
</div>
<div id='search_div' align="center">
    <div id='search_choice'>

    </div>
</div>
<div id='feature_driver_div' align="center">
    <div id='feature_driver_choice'>

    </div>
    <form action="{% url 'MySite.views.Process_FeatureDriver'%}" method="post">  <!-- Process_FeatureDriver -->
        {%csrf_token%}
        <div id='feature_driver_info_div'>

        </div>
        <br>
    </form>
</div>

{% if error_message %}
<div id="error" align="center">
    <p><strong>{{error_message}}</strong></p>
</div>
{%endif%}
<div align="center">
    <div id="delete_error" align="center">

    </div>
    <div id='search_result' align="center">

    </div>
</div>
<script type="text/javascript">
    window.addEventListener('load', function () {
        // At first, let's check if we have permission for notification
        // If not, let's ask for it
        if (Notification && Notification.permission !== "granted") {
            Notification.requestPermission(function (status) {
                if (Notification.permission !== status) {
                    Notification.permission = status;
                }
            });
        }

        var button = document.getElementById('select_button');
        var message = "Feature/Driver Created/Updated!";
        /*if($("#step_name").val()==""){
         var message = "Fields are empty";
         }
         else {
         var message = "Test Step Created!";
         }*/

        button.addEventListener('click', function () {
            // If the user agreed to get notified
            if (Notification && Notification.permission === "granted") {
                var n = new Notification(message,{body:message, icon:"/site_media/noti.ico"});
            }

            // If the user hasn't told if he wants to be notified or not
            // Note: because of Chrome, we are not sure the permission property
            // is set, therefore it's unsafe to check for the "default" value.
            else if (Notification && Notification.permission !== "denied") {
                Notification.requestPermission(function (status) {
                    if (Notification.permission !== status) {
                        Notification.permission = status;
                    }

                    // If the user said okay
                    if (status === "granted") {
                        var n = new Notification(message,{body:message, icon:"/site_media/noti.ico"});
                    }

                    // Otherwise, we can fallback to a regular modal alert
                    else {
                        alertify.log(message,"",0);
                    }
                });
            }

            // If the user refuses to get notified
            else {
                // We can fallback to a regular modal alert
                alertify.log(message,"",0);
            }
        });
    });
</script>
{% endblock %}

