
{% extends "BaseTemplate.html" %}

{% block title%} Test Type Status {% endblock %}

{% block content %}

<!--script type="text/javascript" src="/site_media/Jquery/js/jsapi.js"></script-->
<script type="text/javascript" src="/site_media/Jquery/Local/TestTypeStatus.js"></script>
<script src="/site_media/Jquery/js/highcharts.js"></script>
<script src="/site_media/Jquery/js/exporting.js"></script>


<article>

    <div align="left">
        <h3 style="font-size: 19px;"><a style="font-weight: bold">Test Type Status</a></h3>
    </div>

    <br/>
    <div id = "TestTypeStatus" >


        <!----------------------  Performance Flip Bars  ---------------------------->
        <div id = "SectionSelect" style = "display:block">
            <form action="get">

                <div class="new_tc_form" style="text-align: center;">
                    <table>
                        <tr width="100%">
                            <td class="tc_form_label_col" align="right" width="30%">
                                <span class="tc_form_required_field">*</span><b class="Text">Section:</b>
                            </td>
                            <td class="tc_form_input_col" id="sectiongroup" align="left" width="30%">
                                <select class="section combo-box" data-level="" id="1">
                                    <option value=""></option>
                                    <option value="All">All</option>
                                </select>
                            </td>
                            <td class="tc_form_input_col" align="left" width="10%"><a class="generate m-btn green">Generate</a></td>
                        </tr>
                    </table>
                </div>

            </form>

            <br/><br/>

            <div id="TestTypeStatusChart">

            </div>

            <p class='flip' title = "Test Type Status"  style = "display: none; width: auto;"> Test Type Status Report </p>

            <div id="TestTypeStatusTable">

            </div>

            <div id="download" align="center">

            </div>


        </div>

    </div>





    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp; </font></p>
    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp; </font></p>
    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp; </font></p>
    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
    <p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>


</article>
{% endblock %}