{% extends "BaseTemplate.html" %}
{% block title%} Test Case Management {%endblock%}
{% block content %}
<!--<script type="text/javascript" src="/site_media/Jquery/js/jquery-ui-1.10.3.custom.min.js"></script>
<link type="text/css" href="/site_media/Jquery/css/smoothness/jquery-ui-1.10.3.custom.css" rel="Stylesheet" />-->
<script type="text/javascript" src="/site_media/Jquery/Local/testset_tag.js"></script>
<div id="main">
    <div align="center">
        <article>
            <p class='text' id="question_text" style="color: black; display: block; font-family: Arial, sans-serif; font-size: 25px; font-weight: 900; text-align: center">
                <a>Manage Test Set & Tag</a>
            </p>
        </article>
    </div>
    <div align="center">
        {% if error_message %}<p align="center"><strong>{{error_message}}</strong></p>{% endif %}
    </div>
    <form action="{% url 'MySite.views.Data_Process' %}" method="post">
        {%csrf_token%}
        <div align="center">
            <table style="border: 2px #666; font-family: Open Sans, Arial, Helvetica, sans-serif; padding: 2px; margin: 10px;" width="80%">
                <tr>
                    <td align="center">
                        <div id="left">
                            <label><b>Type:</b></label>
                            <select id="type" class="selectdrop" name="type">
                                <option selected value="">Select from list</option>
                                <option value="set">Test Set</option>
                                <option value="tag">Test Tag</option>
                            </select>
                        </div>
                    </td>
                    <td align="center">
                        <div id="right">
                            &nbsp;&nbsp;&nbsp;
                            <label><b>Operation:</b></label>
                            <select id="operation" class="selectdrop" name="operation">
                                <option value="0"selected="selected">Select from list</option>
                                <option value="1">Create</option>
                                <option value="2">Rename</option>
                                <option value="3">Edit</option>
                                <option value="4">Delete</option>
                            </select>
                        </div>
                    </td>
                    <td align="center">
                        <div id="center">
                            &nbsp;&nbsp;&nbsp;
                            <label><b id="name_variable">Name:</b></label>
                            <input class="ui-corner-all textbox" id="input" style="margin : 5px; width: auto" type='text' title = 'Please Type Keyword' name='inputName' />
                        </div>
                    </td>
                    <td align="center">
                        <div id="renamebox" style="display: none">
                            <label><b>New Name:</b></label>
                            &nbsp;&nbsp;&nbsp;
                            <input class="ui-corner-all textbox" id="input2" style="margin: 5px; width: auto;" type='text' title = 'Please Type Keyword' name='inputName2' />
                        </div>
                    </td>
                </tr>
            </table>
            <!--td align="center"-->
                <!--div id="error">
                    <p><b>No Operation is selected</b></p>
                </div-->
                <div id="button_id" style="align:center;">
                    <br/><br/><br/>
                    <input type='submit' id="select_button" class="button minibutton primary" name='submit_button' value="Submit"/>
                </div>
            <!--/td-->
        </div>
    </form>
</div>
{%endblock%}