{% extends "BaseTemplate.html" %}
{% block title%} Test Step Management {%endblock%}
{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/TestStep.js"></script>
<div id='choice_div' align="center">
    <br/>
    <input type='button' id='create_edit' class="button minibutton primary" value="Create/Edit"/>
    <input type='button' id='search' class="button minibutton primary" value="Search"/>
    <input type='button' id='feature_driver' class="button minibutton primary" value="Feature/Driver Options"/>
</div>
<div id='create_edit_div' align="center">
    <div id='choice'>

    </div>
    <br>
    <form action="{% url 'MySite.views.Process_TestStep'%}" method="post">
        {%csrf_token%}
        <div id='info_div'>

        </div>
        <br>
        <div id='footer_div' style="margin-top: 150px;">

        </div>
    </form>
</div>
<div id='search_div' align="center">
    <div id='search_choice'>

    </div>
</div>
<div id='feature_driver_div' align="center">
    <div id='feature_driver_choice'>

    </div>
    <form action="{% url 'MySite.views.Process_FeatureDriver'%}" method="post">  <!-- Process_FeatureDriver -->
        {%csrf_token%}
        <div id='feature_driver_info_div'>

        </div>
        <br>
    </form>
</div>

{% if error_message %}
<div id="error" align="center">
    <p><strong>{{error_message}}</strong></p>
</div>
{%endif%}
<div align="center">
    <div id="delete_error" align="center">

    </div>
    <div id='search_result' align="center">

    </div>
</div>
{% endblock %}

