{%extends 'AdminBaseTemplate.html'%}
{%block pageindicator%}Link User To Project{%endblock%}
{%block title%}Assign Members{%endblock%}
{%block content%}
<table class="two-column-emphasis">
    <tr>
        <td align="left" style="vertical-align: 0%;"><input type="hidden" id="user_name_suggestion"/><table id="tester"></table></td>
        <td><table width="100%" id="assigned_projects"></table></td>
        <td width="30%">&nbsp;</td></tr>
</table>
<script type="text/javascript" src="/site_media/Jquery/Local/AssignMembers.js"></script>
{% endblock %}