{% extends "BaseTemplate.html" %}


 {% block title%} Search Test Cases {% endblock%}

 {% block content %}
 
<script type="text/javascript" src="/site_media/Jquery/Local/DeleteExisting.js"></script>
<!-- <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> -->
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
<script type="text/javascript" src="/site_media/Jquery/simplepagination/jquery.simplePagination.js"></script>
<link href="/site_media/Jquery/simplepagination/simplePagination.css" rel="stylesheet"/>

<link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />


<article>
    <div align="left">
        <h3 style="font-size: 19px;"><a style="font-weight: bold">Delete Test Cases</a></h3>
        <input type="text" class="textbox" id='searchbox' placeholder="Search & Select Filter"/>
    </div>
    <div align="left">
        <table>
            <tr align="left" id="filteredText">
                <th><b class="Text">Filtered By:</b></th>
            </tr>
        </table>
    </div>
    <div id="resultDiv">

    </div>
    <div id="pagination_div"></div>
    <div align="center" id="buttonDiv" style="display: none;margin-top: 5%;">
        <input type="button" class="m-btn red" id="deleteButton" value="Select Checkboxes to Delete"/>
    </div>
</article>
{% endblock %}

