{%extends 'AdminBaseTemplate.html'%}
{%block pageindicator%}All Users{%endblock%}
{%block title%}All Users{%endblock%}
{%block content%}
<table class="two-column-emphasis">
    <thead>
        <tr>
            {% for x in column %}
                <td><b>{{x}}</b></td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for x in user_list %}
            <tr>
                {% for y in x %}
                    <td>{{y}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}