{%extends 'AdminBaseTemplate.html'%}
{%block pageindicator%}All Users{%endblock%}
{%block title%}All Users{%endblock%}
{%block content%}
<table class="two-column-emphasis">
    <thead>
        <tr>
            {% for x in column %}
                <td><b>{{x}}</b></td>
            {% endfor %}
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        {% for x in user_list %}
            <tr>
                {% for y in x %}
                    {% if forloop.last %}
                        <td><a href="/Home/superAdminFunction/User/{{y}}/"><img src="/site_media/edit.png" width="20" height="20" style="cursor: pointer"></a></td>
                    {% else %}
                        <td>{{y}}</td>
                    {% endif %}
                {% endfor %}

            </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}