{% extends 'BaseTemplate.html' %}
{% block title %} Folder View {% endblock %}
{% block content %}


<!-- Include jsTree -->
<link rel="stylesheet" href="/site_media/Jquery/jstree/themes/default/style.css">

<script type="text/javascript" src="/site_media/Jquery/Local/ManageTestCases.js"></script>

<script type="text/javascript" src="/site_media/Jquery/simplepagination/jquery.simplePagination.js"></script>
<link href="/site_media/Jquery/simplepagination/simplePagination.css" rel="stylesheet"/>

<style>
#searchbox {
	width: 94%;
	padding: 5px;
	max-width: 95%;
	outline-color: #000;
	outline-style: none;
	box-shadow: 0 6px 6px -6px black;
	font-size: 1.2em;
}

#searchbox:focus {
	box-shadow: 0 6px 6px -6px blue;
}
</style>

<div align="left">
    <div style="float: left"><h3 style="font-size: 19px;"><a style="font-weight: bold;">Manage Test Cases</a></h3></div>
    <button style="float: right;" id="create_section_btn" class="m-btn purple">New Folder</button>
</div>

<!-- <button style="display: none;" id="create_section_btn">Create a new section</button> -->

<table style="width: 100%;">
	<thead>
		<tr>
			<td style="border-bottom: 4px solid #ccc; text-align: center;" class="Text">Folders</td>
			<td style="text-align: center; border-bottom: 4px solid #ccc;" class="Text">Test Cases</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width: 22%; border-right: 2px solid #ccc;">
				<div style="width: 100%;">
					<input type="text" id="searchbox" placeholder="Search Folders">
				</div>
				<div id="tree"></div>
			</td>
			<td style="width: 78%; border-left: 2px solid #ccc; position: relative;">
				<div style="position: absolute; min-width: 100%; top: 0;">
					<div id="pageitem" align="right" style="float: right;display:none">
		                <select id="perpageitem">
		                    <option value="">Select Per Page Item</option>
		                    <option value="5" selected>5</option>
		                    <option value="10">10</option>
		                    <option value="25">25</option>
		                    <option value="50">50</option>
		                    <option value="100">100</option>

		                </select>
		            </div>
					<div id = "RunTestResultTable">
					<p style="font-weight: bold; text-align: center;" class="Text">Select any folder to display the corresponding Test Cases</p>
					</div>
					<div id="pagination_div"></div>
				</div>
			</td>
		</tr>
	</tbody>
</table>


{% endblock %}
