{% extends 'BaseTemplate.html' %}
{% block title %}Performance Graph{% endblock %}
{% block content %}
<script src="/site_media/Jquery/ChartNew.js"></script>
<style>
    #canvas-holder1 {
        width: 300px;
        margin: 20px auto;
    }
    #canvas-holder2 {
        width: 70%;
        height: 50%;

    }
    .chartjs-tooltip {
        opacity: 1;
        position: absolute;
        background: rgba(0, 0, 0, .7);
        color: white;
        padding: 3px;
        border-radius: 3px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        pointer-events: none;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .chartjs-tooltip-key{
        display:inline-block;
        width:10px;
        height:10px;
    }
    .chart-legend li span{
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }
</style>
<table class="two-column-emphasis" width="50%;">
    <thead>
        <tr>
            {% for x in column %}
                <th>{{x}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for x in test_case_list %}
        <tr class="row_class">
            {% for y in x %}
                <td>{{y}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<table>
    <tr id="result_type">

    </tr>
</table>
<table>
    <tr id="parameter">

    </tr>
</table>
<div id="canvas-holder2" width="100%;">
    <canvas id="chart2" width="450" height="300" />
</div>
<script type="text/javascript">
    function resetCanvas(){
        $('#chart2').remove(); // this is my <canvas> element
        $('#canvas-holder2').append('<canvas id="chart2" width="600" height="300"><canvas>');
        canvas = document.querySelector('#chart2');
        ctx = canvas.getContext('2d');
        return ctx;
    };
    var run_id="{{run_id}}";
    $(document).ready(function(){
       $('.row_class').on('click',function(){
           $('.row_class').css({'background-color':'#ffffff'});
           $(this).css({'background-color':'#cccccc'});
           var tc_id=$(this).find('td:first-child').text().trim();
           get_type_data(tc_id,run_id);
       });
    });
    var color_value={
                'max_time':[255,0,0],
                'min_time':[0,255,0],
                'avg_time':[0,0,255],
                'total_time':[255,0,255],
                'count':[50,55,50],
                'success':[255,255,0],
                'error':[50,100,100]
    };
    function get_type_data(tc_id,run_id){
        $.get('get_performance_type',{
            tc_id:tc_id,
            run_id:run_id
        },function(data){
            result_type_list=data['result_type'];
            var message="";
            for(var i=0;i<result_type_list.length;i++){
                message+='<td><input id="'+result_type_list[i].replace(/ /g,'_')+'"class="cmn-toggle cmn-toggle-yes-no" type="radio" name="result_type" value="'+result_type_list[i]+'"><label for="'+result_type_list[i].replace(/ /g,'_')+'" data-on="'+result_type_list[i]+'" data-off="'+result_type_list[i]+'"></label></td>';
            }
            $('#result_type').html(message);
            var message="";
            var column_name=['Max','Min','Avg','Total','Count','Success','Error'];
            var column_value=['max_time','min_time','avg_time','total_time','count','success','error'];
            for(var i=0;i<column_name.length;i++){
                message+='<td><input id="'+column_name[i].replace(/ /g,'_')+'"class="cmn-toggle cmn-toggle-yes-no" type="checkbox" name="parameter" value="'+column_value[i]+'"><label for="'+column_name[i].replace(/ /g,'_')+'" data-on="'+column_name[i]+'" data-off="'+column_name[i]+'"></label></td>';
            }
            $('#parameter').html(message);
            for(var i=0;i<result_type_list.length;i++){
                $('#'+result_type_list[i].replace(/ /g,'_')).on('click',function(){
                    $('input[name="parameter"]').each(function(){
                        $(this).removeAttr('checked');
                    })
                });
            }
            $('input[name="parameter"]').on('click',function(){
                var result_type=$('input[name="result_type"]:checked').val();
                if(result_type==undefined){
                    alertify.set({ delay: 300000 });
                    alertify.error("Result Type is to be selected.");
                    return false;
                }else{
                    var temp=[]
                    $('input[name="parameter"]:checked').each(function(){
                        temp.push($(this).val().trim());
                    });
                    if(temp.length==0){
                        alertify.set({ delay: 300000 });
                        alertify.error("No parameter is selected.");
                        return false;
                    }else{
                        $.get('Get_graph_data',{
                            'tc_id':tc_id,
                            'run_id':run_id,
                            'parameter':temp.join(":"),
                            'result_type':result_type
                        },function(data){
                            var cycles=data['cycles'];
                            var graph_datasets=[]
                            for(var i=0;i<temp.length;i++){
                                var object=data[temp[i]];
                                var l,double_axis;
                                if(temp[i]=='max_time'){
                                    l='Maximum Time';
                                }else if(temp[i]=='min_time'){
                                    l='Minimum Time';
                                }else if(temp[i]=='avg_time'){
                                    l='Average Time';
                                }else if(temp[i]=='total_time'){
                                    l='Total Time';
                                }else if(temp[i]=='count'){
                                    l='Total Count';
                                    double_axis=true;
                                }else if(temp[i]=='success'){
                                    l='Total Success';
                                    double_axis=true;
                                }else if(temp[i]=='error'){
                                    l='Total Error';
                                    double_axis=true;
                                }

                                if(double_axis){
                                    var t_obj={
                                        label:l,
                                        fillColor: "rgba("+color_value[temp[i]][0]+","+color_value[temp[i]][1]+","+color_value[temp[i]][2]+",0.2)",
                                        strokeColor: "rgba("+color_value[temp[i]][0]+","+color_value[temp[i]][1]+","+color_value[temp[i]][2]+",1)",
                                        pointColor: "rgba("+color_value[temp[i]][0]+","+color_value[temp[i]][1]+","+color_value[temp[i]][2]+",1)",
                                        pointStrokeColor: "#fff",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba("+color_value[temp[i]][0]+","+color_value[temp[i]][1]+","+color_value[temp[i]][2]+",1)",
                                        data:object,
                                        axis:2,
                                    };
                                }else{
                                    var t_obj={
                                        label:l,
                                        fillColor: "rgba("+color_value[temp[i]][0]+","+color_value[temp[i]][1]+","+color_value[temp[i]][2]+",0.2)",
                                        strokeColor: "rgba("+color_value[temp[i]][0]+","+color_value[temp[i]][1]+","+color_value[temp[i]][2]+",1)",
                                        pointColor: "rgba("+color_value[temp[i]][0]+","+color_value[temp[i]][1]+","+color_value[temp[i]][2]+",1)",
                                        pointStrokeColor: "#fff",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba("+color_value[temp[i]][0]+","+color_value[temp[i]][1]+","+color_value[temp[i]][2]+",1)",
                                        data:object,
                                        axis:1
                                    };
                                }
                                graph_datasets.push(t_obj);
                            }
                            var LineChartData={
                                labels:cycles,
                                datasets:graph_datasets
                            }

                            var ctx2 = resetCanvas();//$("#chart2").get(0).getContext("2d");
                            var options={
                                pointDot:true,
                                responsive: true,
                                xAxisLabel:'Number of Users',
                                yAxisRight : true ,
                                yAxisUnit : 'seconds',
                                yAxisLabel : 'Time',
                                yAxisUnit2 : 'Number',
                                yAxisLabel2 : 'Response',
                            }
                            window.myLine = new Chart(ctx2).Line(LineChartData,options);

                        });
                    }
                }
            });
        });
    }
</script>
{% endblock %}