{%extends 'BaseTemplate.html'%}
{%block title%}Schedule Run{%endblock%}
{%block content%}
<script type="text/javascript" src="/site_media/Jquery/time_picker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/site_media/Jquery/simplepagination/jquery.simplePagination.js"></script>
<link href="/site_media/Jquery/simplepagination/simplePagination.css" rel="stylesheet"/>
<link href="/site_media/Jquery/time_picker/jquery.datetimepicker.css" rel="stylesheet"/>
<table width="100%;">
    <tr>
        <td style="width:25%;vertical-align: 0%;" id="schedule_run_div">
        </td>
        <td style="vertical-align: 0%;">
            <div id="mainbody">&nbsp;</div>
        </td>
    </tr>
    <tr>

    </tr>
</table>

<script type="text/javascript">
    var project_id="{{project_id}}";
    var user_id= $.session.get('user_id');
    var team_list="{{team_list}}";
    var test_case_per_page=5;
    var dependency_classes=[];
    var test_cases=false;
    $(document).ready(function(){
        $('body').css({'font-size':'100%'});
        getAllSchedule(project_id,user_id);
    });
    function getAllSchedule(project_id,user_id){
        $.get('get_all_schedule_run',{
            project_id:project_id,
            user_id:user_id
        },function(data){
            $('#mainbody').empty();
            var message='';
            message+='<table class="two-column-emphasis"><caption><b>Schedule Run</b></caption>';
            if(data['schedule_list'].length>0){
                for(var i=0;i<data['schedule_list'].length;i++){
                    message+='<tr><td class="schedule_run" style="cursor:pointer" data-id="'+data['schedule_list'][i][0]+'">'+data['schedule_list'][i][1]+'</td></tr>';
                }
            }
            else{
                message+='<tr><td>No Schedule Run is present</td></tr>';
            }
            if(data['owner_tag']){
                message+='<tr><td align="center"><input type="button" class="m-btn green" value="Create Schedule Run" id="create_schedule_run"/></td></tr>';
            }
            message+='</table>';
            $('#schedule_run_div').html(message);
            $('.schedule_run').on('click',function(){
                $('.schedule_run').css({'background-color':'#fff'});
                $(this).css({'background-color':'#ccc'});
                var schedule_id=$(this).attr('data-id');
                get_all_detail(project_id,user_id,schedule_id);
            });
            initialize_button_div(project_id,user_id);
        });
    }
    function get_all_detail(project_id,user_id,schedule_id){
        $.get('get_all_schedule_detail',{
            project_id:project_id,
            user_id:user_id,
            schedule_id:schedule_id
        },function(data){
            var message='';
            message+='<table class="two-column-emphasis" align="center"><caption><b>Schedule Run Detail</b></caption>';
            message+='<tr><td width="50%;" align="right"><b>Schedule Name: </b></td><td width="50%;" align="left">'+data['Schedule Name']+'</td></tr>';
            message+='<tr><td width="50%;" align="right"><b>Query: </b></td><td width="50%;" align="left">'+data['Query']+'</td></tr>';
            message+='<tr><td width="50%;" align="right"><b>Dependency: </b></td><td width="50%;" align="left">';
            message+='<table>';
            for(var property_name in data['Dependency']){
                message+='<tr><td>'+property_name+': </td><td>'+data['Dependency'][property_name].join(",")+'</td></tr>';
            }
            message+='</table>';
            message+='</td></tr>';
            message+='<tr><td width="50%;" align="right"><b>Machine: </b></td><td width="50%;" align="left">'+data['Machine']+'</td></tr>';
            message+='<tr><td width="50%;" align="right"><b>Test Objective: </b></td><td width="50%;" align="left">'+data['TestObjective']+'</td></tr>';
            message+='<tr><td width="50%;" align="right"><b>Testers: </b></td><td width="50%;" align="left">'+data['Testers'].join(",")+'</td></tr>';
            message+='<tr><td width="50%;" align="right"><b>Email: </b></td><td width="50%;" align="left">'+data['Email'].join(",")+'</td></tr>';
            message+='<tr><td width="50%;" align="right"><b>Project Name: </b></td><td width="50%;" align="left">'+data['Project Name']+'</td></tr>';
            message+='<tr><td width="50%;" align="right"><b>Team Name: </b></td><td width="50%;" align="left">'+data['Team Name']+'</td></tr>';
            message+='<tr><td width="50%;" align="right"><b>Scheduled Time: </b></td><td width="50%;" align="left">'+data['Run Time']+' on '+data['Run Day']+'</td></tr>';
            if(data['owner']){
                message+='<tr><td colspan="2"><input type="button" id="edit_button" class="m-btn blue" value="Edit"/> <input type="button" class="m-btn red"  id="delete_button" value="Delete"/> </td></tr>';
            }
            message+='</table> ';
            $('#mainbody').html(message);
            $('#delete_button').on('click',function(){
                var message='Do you really want to delete <b>"'+data['Schedule Name']+'?"</b>';
                alertify.confirm(message,function(e){
                    if(e){
                        $.get('delete_schedule_run',{
                            project_id:project_id,
                            user_id:user_id,
                            schedule_id:schedule_id
                        },function(data){
                            if(data['message']){
                                alertify.success(data['log_message'],1500);
                                getAllSchedule(project_id,user_id);
                            }
                        });
                    }
                    else{
                        alertify.alert().close_all();
                        return false;
                    }
                });
            });
        });
    }
    function initialize_button_div(project_id,user_id){
        $('#create_schedule_run').on('click',function(data){
            var message='';
            message+='<table class="two-column-emphasis"><caption><b style="font-size: 150%;">Schedule Run Detail</b></caption>';
            message+='<tr>';
            message+='<td>Schedule Run Name: </td>';
            message+='<td><input class="textbox" placeholder="Enter Schedule Run title(within 20 letters)" id="schedule_name"/></td>';
            message+='</tr>';
            message+='<tr>';
            message+='<td>Test Set To Run: </td>';
            message+='<td><input type="hidden" id="test_set_to_run"/></td>';
            message+='</tr>';
            message+='</table>';
            message+='<div width="100%" id="fill_div"></div>';
            $('#mainbody').html(message);
            //$('.not_to_show').css({'display':'none'});
            $("#test_set_to_run").select2({
                placeholder: "One set can be run only. Create Set if not available..",
                width: 460,
                quietMillis: 250,
                ajax: {
                    url: "AutoSetSearch/",
                    dataType: "json",
                    queitMillis: 250,
                    data: function(term, page) {
                        return {
                            'user_id':user_id,
                            'project_id':project_id,
                            'page':page
                        };
                    },
                    results: function(data, page) {
                        return {
                            results: data.items,
                            more: data.more
                        }
                    }
                },
                formatResult: formatUsers
            }).on("change", function(e) {
                        var set_id=$(this).select2('data')['id'];
                        var set_name=$(this).select2('data')['text'].split(' - ')[0].trim();
                        var team_id=$(this).select2('data')['team'];
                        $('#fill_div').empty();
                        $('#fill_div').html(fill_div());
                        $('#time_picker').datetimepicker({
                            datepicker:false,
                            format:'H:i',
                            closeOnTimeSelect:true
                        });
                        var message='<div><img class="delete DeleteTester" title = "TesterDelete" src="/site_media/delete4.png" style="width: 20px; height: 20px"/><b>'+set_name+':</b></div>';
                        $('#run_query').html(message);
                        $(this).select2('val','');
                        $('.delete').on('click',function(){
                            $(this).parent().remove();
                        });
                        $('#table_to_show').css({'display':'block'});
                        PerformSearch(1,project_id,team_id);
                        AutoSuggestions(project_id,team_id);
                        Submit_button(project_id,team_id);
                        return false;
                    });

            function formatUsers(user_details) {
                var markup ='<div><i class="fa fa-folder"></i><span style="font-weight: bold;"><span>' + ' ' + user_details.text + '</span></div>';

                return markup;
            }
        });
    }
    function Submit_button(project_id,team_id){
        $('#run_test').on('click',function(){
            var schedule_name=$('#schedule_name').val();
            if(schedule_name==''){
                alertify.error('No Schedule Name is given',1500);
                return false;
            }
            if(schedule_name.length>50){
                alertify.error('Schedule name must be within 50 characters',1500);
                return false;
            }
            var UserText="";
            if(test_cases){
                $('#run_query div').each(function(){
                    UserText+=$(this).text().trim();
                });
                console.log(UserText);
            }
            else{
                alertify.error('No Test cases selected',1500);
                return false;
            }

            var temp=[]
            var message="";
            for(var i=0;i<dependency_classes.length;i++){
                if($('.'+dependency_classes[i].name+':checked').length>0){
                    if(temp.indexOf($('.'+dependency_classes[i].name+':checked').val().trim())>-1){
                        continue;
                    }
                    else{
                        temp.push($('.'+dependency_classes[i].name+':checked').val().trim());
                    }
                }
                else{
                    alertify.error('No '+dependency_classes[i].name+' is selected',1500);
                    return false;
                }
            }
            for(var i=0;i<temp.length;i++){
                message+=(temp[i].trim()+': ');
            }
            var time=$('#time_picker').val();
            if(time==''){
                alertify.error('No Time of the Day is given',1500);
                return false;
            }
            var day=$('#specific_day').val();
            if(day==''){
                alertify.error('No Day is given',1500);
                return false;
            }
            var TesterQuery=[];
            $("#tester").find('td').each( function()
            {
                var temp = $(this).attr('data-id');
                //TesterQuery = TesterQuery.replace(/(\r\n|\n|\r)/gm, "").replace(/^\s+/g, "");
                if(TesterQuery.indexOf(temp)==-1 && temp!=undefined){
                    TesterQuery.push(temp);
                }
            });
            if(TesterQuery.length==0){
                alertify.log("Testers is to be selected from suggestion","",0);
                return false;
            }
            var EmailQuery=[];
            $("#email").find('td').each( function()
            {
                var temp = $(this).attr('data-id');
                //EmailQuery = EmailQuery.replace(/(\r\n|\n|\r)/gm, "").replace(/^\s+/g, "");
                if(EmailQuery.indexOf(temp)==-1 && temp!=undefined){
                    EmailQuery.push(temp);
                }
            });
            if(EmailQuery.length==0){
                alertify.log("Email Receipient is to be selected from suggestion","",0);
                return false;
            }
            var TestObjective=$('#testObjective').val().trim();
            if(TestObjective==""){
                alertify.log("Test Objective is empty","",0);
                return false;
            }
            var milestoneQuery="";
            $("#milestone").each( function()
            {
                milestoneQuery = $(this).find("td").text();
                milestoneQuery = milestoneQuery.replace(/(\r\n|\n|\r)/gm, "").replace(/^\s+/g, "")
            });
            if(milestoneQuery.length==0){
                alertify.log("Milestone is to be selected from suggestion","",0);
                return false;
            }
            var machineQuery="";
            $("#machine").each( function()
            {
                machineQuery = $(this).find("td").text();
                machineQuery = machineQuery.replace(/(\r\n|\n|\r)/gm, "").replace(/^\s+/g, "")
            });
            if(machineQuery.length==0){
                alertify.log("Machine is to be selected from suggestion","",0);
                return false;
            }
            var RunTestQuery=UserText;
            $.get("enlist_schedule",{
                schedule_name:schedule_name,
                RunTestQuery : RunTestQuery,
                dependency_Query:message,
                machineQuery:machineQuery,
                TesterIds:TesterQuery.join('|'),
                EmailIds:EmailQuery.join('|'),
                TestObjective:TestObjective,
                TestMileStone:milestoneQuery,
                project_id:project_id,
                team_id:team_id,
                time:time,
                day:day
            },function(data){
                if(data['Result']){
                    getAllSchedule(project_id,user_id);
                }
                else{
                    MsgBox("Test Run Response",	"Your Test Run Request Has Been Submitted, Here is the result :"+ data['Result']);
                }
            });
        });
    }
    function fill_div(){
        var message='';
        message+='<table class="two-column-emphasis">';
        message+='<tr class="not_to_show">';
        message+='<td colspan="2" style="vertical-align: 0%;" id="run_query" align="center"></td>';
        message+='</tr>';
        message+='<tr class="not_to_show">';
        message+='<td colspan="2"><div id="RunTestResultTable"></div></td>';
        message+='</tr>';
        message+='<tr class="not_to_show">';
        message+='<td colspan="2"><div id="pagination_div"></div></td>';
        message+='</tr>';
        //message+='</table> ';
        //message+='<table id="table_to_show" class="two-column-emphasis" style="display:none;">';
        message+='<tr>';
        message+='<td width="22%;"><b>Dependency: </b></td>';
        message+='<td><div id="parameter_div"></div></td>';
        message+='</tr>';
        message+='</table>';
        message+='<table class="two-column-emphasis">';
        message+='<tr>'
        message+='<td><input class="textbox" id="time_picker" placeholder="Select time Here"/></td>';
        message+='<td><select id="specific_day"><option value="">Select Day of the Week</option>';
        message+='<option value="Sat">Saturday</option>';
        message+='<option value="Sun">Sunday</option>';
        message+='<option value="Mon">Monday</option>';
        message+='<option value="Tue">Tuesday</option>';
        message+='<option value="Wed">Wednesday</option>';
        message+='<option value="Thu">Thursday</option>';
        message+='<option value="Fri">Friday</option>';
        message+='<option value="All">Everyday</option>';
        message+='</select></td>';
        message+='</tr>';
        message+='<tr>'
        message+='<td><input type="hidden" id="assigned_tester"/></td>';
        message+='<td><table><tr id="tester"><!--<th><b class="Text">Assigned Tester:</b></th>--></tr></table></td>';
        message+='</tr>';
        message+='<tr>';
        message+='<td><input type="hidden" id="email_list"/></td>';
        message+='<td><table><tr id="email"><!--<th><b class="Text">Assigned Tester:</b></th>--></tr></table></td>';
        message+='</tr>';
        message+='<tr>';
        message+='<td><input type="hidden" id="testObjective" /></td>';
        message+='<td><table><tr id="objective"></tr></table></td>';
        message+='</tr>';
        message+='<tr>';
        message+='<td><input type="hidden" id="milestone_list" /></td>';
        message+='<td><table><tr id="milestone"><!--<th><b class="Text">Assigned Tester:</b></th>--></tr></table></td>';
        message+='</tr>';
        message+='<tr>';
        message+='<td><input type="hidden" id="machine_list"/></td>';
        message+='<td><table><tr id="machine"><!--<th><b class="Text">Assigned Tester:</b></th>--></tr></table></td>';
        message+='</tr>';
        message+='<tr>';
        message+='<td colspan="2" align="center"><input type="button" id="run_test" class="m-btn green" value="Save Schedule Run"/></td>';
        message+='</tr>';
        message+='</table>';
        return message;
    }
    function PerformSearch(pageNumber,project_id,team_id,predicate) {
        var UserText='';
        $('#run_query div').each(function(){
            UserText+=$(this).text().trim();
        });
        if(predicate!=undefined){
            UserText=UserText+predicate;
        }
        $.get("TableDataTestCasesOtherPages",{
            Query: UserText,
            test_status_request:true,
            project_id:project_id,
            team_id:team_id,
            total_time:'true',
            test_case_per_page:test_case_per_page,
            test_case_page_current:pageNumber
        },function(data) {
            if (data['TableData'].length == 0)
            {
                $('#RunTestResultTable').html("");
                $('#RunTestResultTable').html("<p class = 'Text'><b>Sorry There is No Test Cases For Selected Query!!!</b></p>");
                $("#RunTestResultTable").fadeIn(1000);
                test_cases=false;
                /*$('#time_panel').html("");
                $('#time_panel').css({'display':'none'});
                $('#parameter_div').empty();*/
                $('#pagination_div').pagination('destroy');
            }
            else
            {
                /*$('#time_panel').html('<b class="Text">Time Needed: '+data['time']+'</b> ');
                $('#time_panel').css({'display':'block'});
                */
                ResultTable('#RunTestResultTable',data['Heading'],data['TableData'],"Test Cases");
                $('#RunTestResultTable').find('p:eq(0)').html(data['Count']+' Test Cases');
                $('#pagination_div').css({'display':'block'});
                $('#pagination_div').pagination({
                    items:data['Count'],
                    itemsOnPage:test_case_per_page,
                    cssStyle: 'dark-theme',
                    currentPage:pageNumber,
                    displayedPages:2,
                    edges:2,
                    hrefTextPrefix:'#',
                    onPageClick:function(PageNumber){
                        PerformSearch(PageNumber,project_id,team_id);
                    }
                });
                //$("#RunTestResultTable .one-column-emphasis").addClass('two-column-emphasis');
                //$("#RunTestResultTable .one-column-emphasis").removeClass('one-column-emphasis');
                $("#RunTestResultTable").fadeIn(1000);
                test_cases=true;
                implementDropDown("#RunTestResultTable");
                if(predicate==undefined){
                    get_dependency(project_id,team_id,UserText);
                }
            }
        });
    }
    function get_dependency(project_id,team_id,UserText){
        $.get('specific_dependency_settings',{
            Query: UserText,
            project_id:project_id,
            team_id:team_id
        },function(data){
            populate_parameter_div(data,"parameter_div",project_id,team_id);
        });
    }

    function implementDropDown(wheretoplace){
        $(wheretoplace+" tr td:nth-child(2)").css({'color' : 'blue','cursor' : 'pointer'});
        $(wheretoplace+" tr td:nth-child(2)").each(function() {
            var ID=$(this).closest('tr').find('td:nth-child(1)').text().trim();
            var name=$(this).text().trim();
            $(this).html('<div id="'+ID+'name">'+name+'</div><div id="'+ID+'detail" style="display:none;"></div>');
            $.get("TestStepWithTypeInTable",{RunID: ID},function(data) {
                var data_list=data['Result'];
                var column=data['column'];
                ResultTable('#'+ID+'detail',column,data_list,"");
                $('#'+ID+'detail tr').each(function(){
                    $(this).css({'textAlign':'left'});
                });
            });
            $(this).live('click',function(){
                $('#'+ID+'detail').slideToggle("slow");
            });
        });
    }
    function populate_parameter_div(array_list,div_name,project_id,team_id){
        var message="";
        for(var i=0;i<array_list.length;i++){
            var dependency=array_list[i][0];
            message+='<form id="tc_'+dependency+'" class="new_tc_form">';
            message+='<table class="two-column-emphasis">';
            message+='<tr>';
            message+='<td class="tc_form_label_col" width="22%;">'
            message+='<b class="Text">'+dependency+':</b>';
            message+='</td>';
            message+='<td class="tc_form_input_col">';
            //message+='<table width="100%">';
            var equal_size=(100/array_list[i][1].length);
            var dep_name=[];
            //message+='<tr>';
            for(var j=0;j<array_list[i][1].length;j++){
                //message+='<td>';
                message+='<div style="float: left;">';
                message+='<input class="'+dependency+' cmn-toggle cmn-toggle-yes-no" id="'+dependency+'_'+array_list[i][1][j]+'" type="radio" name="type" value="'+array_list[i][1][j]+'" style="width:auto;;" />';
                message+='<label for="'+dependency+'_'+array_list[i][1][j]+'" data-on="'+array_list[i][1][j]+'" data-off="'+array_list[i][1][j]+'" style="margin-right:2%"></label>&nbsp;';
                //message+='</td>';
                message+='</div>';
                dep_name.push(dependency+'_'+array_list[i][1][j]);
            }
            //message+='</tr>';
            //message+='</table>';
            message+='</td>';
            message+='<tr>';
            message+='</table>';
            message+='</form>';
            var temp={'name':dependency,'list':dep_name};
            dependency_classes.push(temp);
        }
        $('#'+div_name).html(message);
        for(var i=0;i<dependency_classes.length;i++){
            for(var j=0;j<dependency_classes[i].list.length;j++){
                $('#'+dependency_classes[i].list[j]).on('click',function(){
                    PerformSearch(1,project_id,team_id,parseValue(dependency_classes));
                });
            }
        }
    }

    function parseValue(dependency_classes){
        var message="";
        for(var i=0;i<dependency_classes.length;i++){
            $('.'+dependency_classes[i].name+':checked').each(function(){
                message+=($(this).val().trim()+': ');
            });
        }
        return message;
    }
    function AutoSuggestions(project_id,team_id){
        $("#assigned_tester").select2({
            placeholder: "Assigned Testers...",
            width: 460,
            quietMillis: 250,
            ajax: {
                url: "AutoCompleteTesterSearch/",
                dataType: "json",
                queitMillis: 250,
                data: function(term, page) {
                    return {
                        'term': term,
                        'page': page,
                        'project_id': $.session.get('project_id'),
                        'team_id': $.session.get('default_team_identity')
                    };
                },
                results: function(data, page) {
                    return {
                        results: data.items,
                        more: data.more
                    }
                }
            },
            formatResult: formatUsers
        }).on("change", function(e) {
                    var user_id=$(this).select2('data')['id'];
                    var user_name=$(this).select2('data')['text'].split(' - ')[0].trim();
                    $("#tester").append('<td><img class="delete" id = "DeleteTester" title = "TesterDelete" src="/site_media/delete4.png" style="width: 30px; height: 30px"/></td>'
                            + '<td class="Text" data-id="'+user_id+'">'
                            + user_name
                            + ":&nbsp"
                            + '</td>');
                    $(this).select2('val','');
                    return false;
                });

        // Should be used for formatting results, LATER
        function formatUsers(user_details) {
            var markup ='<div><i class="fa fa-user"></i><span style="font-weight: bold;"><span>' + ' ' + user_details.text + '</span></div>';

            return markup;
        }
        $("#DeleteTester").live('click', function() {

            $(this).parent().next().remove();
            $(this).remove();

        });

        $("#email_list").select2({
            placeholder: "Send Emails...",
            width: 460,
            quietMillis: 250,
            ajax: {
                url: "AutoCompleteEmailSearch/",
                dataType: "json",
                queitMillis: 250,
                data: function(term, page) {
                    return {
                        'term': term,
                        'page': page,
                        'project_id': $.session.get('project_id'),
                        'team_id': $.session.get('default_team_identity')
                    };
                },
                results: function(data, page) {
                    return {
                        results: data.items,
                        more: data.more
                    }
                }
            },
            formatResult: formatEmails
        }).on("change", function(e) {
                    var user_id=$(this).select2('data')['id'];
                    var user_name=$(this).select2('data')['text'].split(' - ')[0].trim();
                    $("#email").append('<td><img class="delete" id = "DeleteEmail" title = "EmailDelete" src="/site_media/delete4.png" style="width: 30px; height: 30px"/></td>'
                            + '<td class="Text" data-id="'+user_id+'">'
                            + user_name
                            + ":&nbsp"
                            + '</td>');
                    $(this).select2('val','');
                    return false;
                });
        function formatEmails(user_details) {
            var markup ='<div><i class="fa fa-user"></i><span style="font-weight: bold;"><span>' + ' ' + user_details.text + '</span></div>';

            return markup;
        }
        $("#DeleteEmail").live('click', function() {

            $(this).parent().next().remove();
            $(this).remove();

        });
        $("#milestone_list").select2({
            placeholder: "Search Milestone...",
            width: 460,
            quietMillis: 250,
            ajax: {
                url: "AutoCompleteMilestoneSearch/",
                dataType: "json",
                queitMillis: 250,
                data: function(term, page) {
                    return {
                        'term': term,
                        'page': page,
                        'project_id': $.session.get('project_id'),
                        'team_id': $.session.get('default_team_identity')
                    };
                },
                results: function(data, page) {
                    return {
                        results: data.items,
                        more: data.more
                    }
                }
            },
            formatResult: formatMilestone
        }).on("change", function(e) {
                    var milestone_name=$(this).select2('data')['text'].split(' - ')[0].trim();
                    $("#milestone").html('<td><img class="delete" id = "DeleteMileStone" title = "MileStoneDelete" src="/site_media/delete4.png" style="width: 30px; height: 30px"/></td>'
                            + '<td class="Text">'
                            + milestone_name
                            + ":&nbsp"
                            + '</td>');
                    $(this).select2('val','');
                    return false;
                });
        function formatMilestone(milestone) {
            var markup ='<div><i class="fa fa-file"></i><span style="font-weight: bold;"><span>' + ' ' +milestone.text + '</span></div>';
            return markup;
        }
        $("#DeleteMileStone").live('click', function() {

            $(this).parent().next().remove();
            $(this).remove();

        });
        $("#machine_list").select2({
            placeholder: "Select Machines.. ",
            width: 460,
            quietMillis: 250,
            ajax: {
                url: "AutoCompleteUsersSearch/",
                dataType: "json",
                queitMillis: 250,
                data: function(term, page) {
                    return {
                        'term': term,
                        'page': page,
                        'project_id': $.session.get('project_id'),
                        'team_id': $.session.get('default_team_identity')
                    };
                },
                results: function(data, page) {
                    return {
                        results: data.items,
                        more: data.more
                    }
                }
            },
            formatResult: formatMachine
        }).on("change", function(e) {
                    var machine_name=$(this).select2('data')['text'].split(' - ')[0].trim();
                    $("#machine").html('<td><img class="delete" id = "DeleteMachine" title = "MachineDelete" src="/site_media/delete4.png" style="width: 30px; height: 30px"/></td>'
                            + '<td class="Text">'
                            + machine_name
                            + ":&nbsp"
                            + '</td>');
                    $(this).select2('val','');
                    $('#run_test').slideDown('slow');
                    return false;
                });
        function formatMachine(machine) {
            var markup ='<div><i class="fa fa-machine"></i><span style="font-weight: bold;"><span>'+ " " +machine.text + '</span></div>';
            return markup;
        }

        $("#DeleteMachine").live('click', function() {

            $(this).parent().next().remove();
            $(this).remove();
            $('#run_test').slideUp("slow");

        });

        $("#testObjective").select2({
            placeholder: "Run Objective.. ",
            width: 460,
            quietMillis: 250,
            ajax: {
                url: "AutoCompleteObjectiveSearch/",
                dataType: "json",
                queitMillis: 250,
                data: function(term, page) {
                    return {
                        'term': term,
                        'page': page,
                        'project_id': project_id,
                        'team_id': team_id
                    };
                },
                results: function(data, page) {
                    return {
                        results: data.items,
                        more: data.more
                    }
                }
            },
            createSearchChoice: function(term) {
                return {id: term};
            },
            createSearchChoicePosition: "top",
            formatResult: formatObjectives,
            formatSelection: formatObjectives
        }).on("change", function(e) {
                    $(this).select2("val");
                    return false;
                });

        function formatObjectives(obj_details) {
            //var start = obj_details.text.indexOf(":") + 1;
            //var length = obj_details.text.length;

            //var obj = step_details.text.substr(start, length - 1);
            //var title = step_details.text.substr(0,start-1);

            var markup =
                    '<div>' +
                            '<i class="fa fa-file-text fa-fw"></i> <span style="font-weight: bold;">' + obj_details.id + '</span>' +
                            '</div>';

            return markup;
        }
    }

</script>
{% endblock %}