{% extends "BaseTemplate.html" %}


{% block title%} Search Test Cases {% endblock%}

{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/SearchEdit.js"></script>
<article>
    <div align="left">
        <h3 style="font-size: 19px;"><a style="font-weight: bold">Copy/Edit Test Case</a></h3>
    </div>
    <table id='' style='display: block;'>
        <tbody>
            <tr>
                <td>
                    <label > <b id = 'AutoSearchTextBoxLabel' class = 'Text'></b></label>
                    <input class = 'ui-corner-all textbox' id='searchbox' style = 'margin:5px' type='text' title = 'Please Type Keyword and Click On that to add to query' name='searchboxname' placeholder="Search Test Cases Data By Keywords:"/>
                </td>
            </tr>
        </tbody>
    </table>
    <table id = 'AutoSearchResult'>
        <tbody>
        <tr id = 'searchedtext'>
            <p></p>
            <th class = 'Text' style= 'text-align: left'> Test Data Set: </th>
        </tr>
        </tbody>
    </table>
    <div id="RunTestResultTable">

    </div>
</article>
{% endblock %}