{% extends "AdminBaseTemplate.html" %}

{% block title%} Super Admin {% endblock %}

{% block content %}

<article>
    <div align="center" style="margin-top: 5%;">
        <table width="100%" align="center">
            <tr align="center">
                <td>
                    <a href="/Home/superAdminFunction/Project/" style="font-weight: bolder;font-size: 125%;">Create New Project</a>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <a href="" style="font-weight: bolder;font-size: 125%;">Create User Groups</a>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <a href="/Home/superAdminFunction/AddUser/" style="font-weight: bolder;font-size: 125%;">Create New User</a>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <a href="/Home/superAdminFunction/ListUser/" style="font-weight: bolder;font-size: 125%;">List User</a>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <a href="/Home/superAdminFunction/AssignMembers/" style="font-weight: bolder;font-size: 125%;">Assign Members To Projects</a>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <a href="/Home/superAdminFunction/ListProject/" style="font-weight: bolder;font-size: 125%;">List Projects</a>
                </td>
            </tr>
        </table>
    </div>


</article>

{% endblock %}