{% extends "BaseTemplate.html" %}

{% block title%}Team Edit{% endblock %}

{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/Team_Edit.js"></script>
<script type="text/javascript">
    $('body').css({'font-size':'100%'});
</script>
<div align="left">
    <h3 style="font-size: 19px;"><a href="/Home/ManageTeam/">Team</a> / <a href="" id="name" style="font-weight: bolder">{{team_name}}</a></h3>
</div>
<table align="left" width="100%">
   <!-- <thead>
    <tr>
        <td width=40% style="border-bottom: 4px solid #ccc; text-align: center;" class="Text">Current Team</td>
        <td width="20%">&nbsp;</td>
        <td width=40% style="text-align: center; border-bottom: 4px solid #ccc;" class="Text">Select To Add</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="40%">
            <table width="100%" style="border-bottom: 1px dashed #cecece;">
                <tr>
                    {% if leader%}
                    <td width="10%" style="vertical-align: 0%;" align="right"><b class="Text">Managers:</b></td>
                    <td>
                        <table width="100%">
                            {%for x in leader%}
                            <tr>
                                <td width="40%" style="vertical-align: 0%;"><b>{{x.1}}</b></td>
                                <td width="60%" align="left"><input class="remove_manager" type="checkbox" value="{{x.0}}"/></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    {%else%}
                    <td>&nbsp;</td>
                    <td align="center"><b class="Text">No Manager in the Team</b></td>
                    {%endif%}
                </tr>
            </table>
        </td>
        <td width="20%">
            &nbsp;
        </td>
        <td width="40%">
            <table width="100%" style="border-bottom: 1px dashed #cecece;">
                <tr>
                    {% if rest_leader %}
                    <td width="10%" style="vertical-align: 0%;" align="right"><b class="Text">Managers:</b></td>
                    <td>
                        <table width="100%">
                            {%for x in rest_leader%}
                                <tr>
                                    <td width="40%" style="vertical-align: 0%;"><b>{{x.1}}</b></td>
                                    <td width="60%" align="left"><input class="add_manager" type="checkbox" value="{{x.0}}"/></td>
                                </tr>
                            {% endfor %}

                        </table>
                    </td>
                    {%else%}
                    <td>&nbsp;</td>
                    <td align="center"><b class="Text">No Managers Available</b></td>
                    {%endif%}
                </tr>
            </table>
        </td>
    </tr>
    <tr style="vertical-align: 0%;">
        <td width="40%">
            <table width="100%" style="border-bottom: 1px dashed #cecece;">
                <tr>
                    {% if  tester%}
                    <td width="10%" style="vertical-align: 0%;" align="right"><b class="Text">Testers:</b></td>
                    <td>
                        <table width="100%">
                            {%for x in tester%}
                            <tr>
                                <td width="40%" style="vertical-align: 0%;"><b>{{x.1}}</b></td>
                                <td width="60%" align="left"><input class="remove_tester" type="checkbox" value="{{x.0}}" style="margin-left: 5%;"/></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    {% else %}
                    <td>&nbsp</td>
                    <td align="center"><b class="Text">No Tester in this Team</b></td>
                    {% endif %}
                </tr>
            </table>
        </td>
        <td widht="20%">
            &nbsp;
        </td>
        <td width="40%">
            <table width="100%" style="border-bottom: 1px dashed #cecece;">
                <tr>
                    {% if rest_tester %}
                    <td width="10%" style="vertical-align: 0%;" align="right"><b class="Text">Testers:</b></td>
                    <td>
                        <table width="100%">
                            {%for x in rest_tester%}
                            <tr>
                                <td width="40%" style="vertical-align: 0%;"><b>{{x.1}}</b></td>
                                <td width="60%" align="left"><input class="add_tester" type="checkbox" value="{{x.0}}" style="margin-left: 5%;"/></td>
                            </tr>
                            {% endfor %}

                        </table>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    <td align="center"><b class="Text">No Testers Available</b></td>
                    {% endif %}
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="3">
            <input class="button primary" type="button" value="Add" id="add"/>
            <input class="button danger" type="button" value="Remove" id="remove"/>
        </td>
    </tr>
    </tbody>-->
    <tr>
        <td width="50%" >
            <table class="two-column-emphasis">

                <caption><b>{{team_name}}</b></caption>
                <thead>
                    <tr>
                        <th colspan="2" align="center">Current Members</th>
                        <th colspan="2" align="center">Available Members</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in user_list %}
                        <tr>
                            <td style="vertical-align: 0%;"><b>{{x.0}}:</b></td>
                            <td style="border-right: 2px solid #CCCCCC;vertical-align: 0%;">
                                <table>
                                    {% for y in x.1 %}
                                        <tr><td>{{y.1}}</td><td><input type="checkbox" value="{{y.0}}"/></td></tr>
                                    {% endfor %}
                                </table>
                            </td>
                            <td style="vertical-align: 0%;">
                                <input type="hidden" id="{{x.0|lower}}_search"/>
                            </td>
                            <td style="vertical-align: 0%;">
                                <table id="{{x.0|lower}}"></table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
</table>
{% endblock %}