{% extends "AdminBaseTemplate.html" %}

{% block title%}Team Edit{% endblock %}

{% block content %}
<div align="left">
    <h3 style="font-size: 19px;"><a href="/Home/{{project_id}}/ManageTeam/">{{project_name}}</a> / <a href="" id="name" style="font-weight: bolder">{{team_name}}</a></h3>
</div>
<table align="left" width="100%">
   <tr>
        <td width="50%" >
            <table class="two-column-emphasis">

                <caption><b style="font-size: 150%;">{{team_name}}</b></caption>
                <thead>
                    <tr>
                        <th colspan="2" align="center">Current Members</th>
                        <th colspan="2" align="center">Available Members</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in user_list %}
                        <tr>
                            <td style="vertical-align: 0%;"><b>{{x.0}}:</b></td>
                            <td style="border-right: 2px solid #CCCCCC;vertical-align: 0%;">
                                <table>
                                    {% if x.1 %}
                                        {% for y in x.1 %}
                                            <tr><td>{{y.1}}</td><td><input  class="{{x.0}}" type="checkbox" value="{{y.0}}"/></td></tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr><td colspan="2">No {{x.0}}</td></tr>
                                    {% endif %}
                                </table>
                            </td>
                            <td style="vertical-align: 0%;">
                                <input type="hidden" id="{{x.0|lower}}_search"/>
                            </td>
                            <td style="vertical-align: 0%;">
                                <table id="{{x.0|lower}}"></table>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"><input id="remove_user" type="button" class="m-btn red" value="Remove User"/> </td>
                        <td colspan="2"><input id="add_user" type="button" class="m-btn green" value="Add User"/> </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

<script type="text/javascript">
    var project_id="{{project_id}}";
    var team_name="{{team_name}}";
    $(document).ready(function(){
        //$('body').css({'font-size':'100%'});
        $("#tester_search").select2({
            placeholder: "Available Testers...",
            width: 460,
            quietMillis: 250,
            ajax: {
                url: "AutoCompleteTesterSearch/",
                dataType: "json",
                queitMillis: 250,
                data: function(term, page) {
                    return {
                        'term': term,
                        'page': page,
                        'all':'edit',
                        'team_name':team_name,
                        'project_id':project_id
                    };
                },
                results: function(data, page) {
                    return {
                        results: data.items,
                        more: data.more
                    }
                }
            },
            formatResult: formatUsers
        }).on("change", function(e) {
                    var user_id=$(this).select2('data')['id'];
                    var user_name=$(this).select2('data')['text'].split(' - ')[0].trim();
                    $("#tester").append('<tr><td><img class="delete DeleteTester" title = "TesterDelete" src="/site_media/delete4.png" style="width: 30px; height: 30px"/></td>'
                            + '<td class="Text" data-id="'+user_id+'">'
                            + user_name
                            + ":&nbsp"
                            + '</td></tr>');
                    $(this).select2('val','');
                    return false;
                });

        function formatUsers(user_details) {
            var markup ='<div><i class="fa fa-user"></i><span style="font-weight: bold;"><span>' + ' ' + user_details.text + '</span></div>';

            return markup;
        }
        $(".DeleteTester").live('click', function() {

            //$(this).parent().next().remove();
            //$(this).remove();
            $(this).parent().parent().remove();

        });

        $("#manager_search").select2({
            placeholder: "Available Manager...",
            width: 460,
            quietMillis: 250,
            ajax: {
                url: "GetTesterManager/",
                dataType: "json",
                queitMillis: 250,
                data: function(term, page) {
                    return {
                        'term': term,
                        'page': page,
                        'all':'edit',
                        'team_name':team_name.trim(),
                        'project_id':project_id.trim()
                    };
                },
                results: function(data, page) {
                    return {
                        results: data.items,
                        more: data.more
                    }
                }
            },
            formatResult: formatUsers
        }).on("change", function(e) {
                    var user_id=$(this).select2('data')['id'];
                    var user_name=$(this).select2('data')['text'].split(' - ')[0].trim();
                    $("#manager").append('<tr><td><img class="delete DeleteManager" title = "ManagerDelete" src="/site_media/delete4.png" style="width: 30px; height: 30px"/></td>'
                            + '<td class="Text" data-id="'+user_id+'">'
                            + user_name
                            + ":&nbsp"
                            + '</td></tr>');
                    $(this).select2('val','');
                    return false;
                });
        $(".DeleteManager").live('click', function() {
            $(this).parent().parent().remove();
        });

        $('#remove_user').on('click',function(){
            var user_list=[];

            $('.Manager:checked').each(function(){
                user_list.push($(this).val().trim());
            });

            $('.Tester:checked').each(function(){
                user_list.push($(this).val().trim());
            });
            if(user_list.length>0){
                alertify.confirm("Are you sure you want to remove the selected from the team '"+team_name.trim()+"'?", function(e) {
                    if (e) {
                        $.get('Delete_Members',{
                            'member':user_list.join("|"),
                            'team_name':team_name.trim(),
                            'project_id':project_id
                        },function(data){
                            if(data.indexOf('Failed')!=0){
                                window.location=('/Home/'+project_id+'/Team/'+team_name.trim().replace(/ /g,'_').trim()+'/');
                            }
                            else{
                                window.location.reload(true);
                            }
                        });
                    }
                });
            }
            else{
                alertify.set({ delay: 300000 });
                alertify.error("None is selected");
                return false;
            }
        });

        $('#add_user').on('click',function(){
            var member=[];
            $('.DeleteManager').each(function(){
                member.push($(this).parent().next().attr('data-id'));
            });

            $('.DeleteTester').each(function(){
                member.push($(this).parent().next().attr('data-id'));
            });
            if(member.length!=0){
                alertify.confirm("Are you sure you want to add the selected to the team '"+team_name.trim()+"'?", function(e) {
                    if (e) {
                        $.get('Add_Members',{
                            'member':member.join("|"),
                            'team_name':team_name.trim(),
                            'project_id':project_id
                        },function(data){
                            if(data.indexOf('Failed')!=0){
                                window.location=('/Home/'+project_id.trim()+'/Team/'+team_name.trim().replace(/ /g,'_').trim()+'/');
                            }
                            else{
                                window.location.reload(true);
                            }
                        });
                    }
                });
            }
            else{
                alertify.set({ delay: 300000 });
                alertify.error("None is selected");
                return false;
            }
        });
    });


</script>
<script type="text/javascript" src="/site_media/Jquery/Local/Team_Edit.js"></script>

{% endblock %}