{% extends "BaseTemplate.html" %}

{% block title%}Test Set & Tag Edit{% endblock %}

{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/TestSetTagEdit.js"></script>
<div align="left">
    <h3 style="font-size: 19px;"><a href="/Home/ManageSetTag/">Manage Test Set & Tag</a> / <a href="" id="type" style="font-weight: bold"></a> / <a href="" id="name" style="font-weight: bolder"></a><span id="time"></span></h3>
</div>
<div align="left">
    <input type="text" class="textbox" placeholder="Search & Select Filter Here" id="searchbox"/>
    <br>
    <table style="margin-top: 1%;margin-bottom: 1%;">
        <tr id="searchedFilter">
            <th><b class="Text">Filtered By:</b></th>
        </tr>
    </table>
</div>
<!--<div align="left">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td width="50%">
                            <div width="50%">
                                <div id="existing"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">
                            <a href="" class="dribble">Delete Selected</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="50%">
                <table>
                    <tr>
                        <td>
                            <div width="50%">
                                <div id="RunTestResultTable"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">
                            <a href="" class="createnew">Add Selected</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>-->
<div style="width: 100%;" align="center">
    <div style="width: 50%;float: left">
        <table>
            <tr>
                <td width="50%">
                    <div width="50%">
                        <p align="center" style="font-weight: bolder;font-size: 1.2em;">Existing Test Cases</p>
                        <div id="existing"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a id="delete_button" href="" class="dribble" style="margin-left: 35%;">Delete Selected</a>
                </td>
            </tr>
        </table>
    </div>
    <div style="width: 50%;float: left">
        <table>
            <tr>
                <td>
                    <div width="50%">
                        <p align="center" style="font-weight: bolder;font-size: 1.2em;">Select Test Case(s)</p>
                        <div id="RunTestResultTable" style="display: none;"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a id="add_button" href="" class="m-btn green" style="display: none; width: 10%">Add Selected</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}