{% extends "BaseTemplate.html" %}

{% block title%}View Test Steps{% endblock %}

{% block content %}
<script type="text/javascript" src="/site_media/Jquery/Local/ViewSteps.js"></script>
<script type="text/javascript" src="/site_media/Jquery/simplepagination/jquery.simplePagination.js"></script>
<link href="/site_media/Jquery/simplepagination/simplePagination.css" rel="stylesheet"/>
<article>
    <a id="simple-menu" href="#sidr" class="button hint--right hint--bounce hint--rounded" data-hint="Apply Filter" style="text-decoration: none;"><img class="mini-loader" height="23" src="/site_media/menu.png" width="23"></a>
    <div id="sidr" class="sidr">
        <h3>Select Filters to apply</h3>
        <div style="text-align: center; margin: 12px;">
            <button onclick='$.sidr("toggle", "sidr");' style="width: 100%; padding: 4px;">X</button>
        </div>
        <ul>
            <li>
                <input class="textbox" placeholder="Search & Select Filter Here" id="inputText" style="padding-left: 10px; width: 95%; margin-top: 40%;z-index: 999999"/>

                <style type="text/css">
                    .ui-widget-content {position: fixed}
                </style>
            </li>
            <li>
                <table style="margin-top: 5%; width: 100%">
                    <tr>
                        <th><p>Filtered By:</p></th>
                    </tr>
                    <tr>
                        <table id="searchedFilter">

                        </table>
                    </tr>
                    <!--tr><td style="display: none;" id="pagination_no">1</td></tr-->
                </table>
        </ul>
    </div>

    <div align="center" id="main">
        <h3 style="font-size: 19px; float: left"><a style="font-weight: bold">View & Organize Steps</a></h3>
        <div id="allsteps" align="center">

        </div>
        <div id="pagination_div">

        </div>
        <div id="step_name" style="font-size: 250%;">

        </div>
        <div id="usage_div">

        </div>
        <div id="usage_pagination_div">

        </div>
    </div>
</article>
{% endblock %}