form {
    margin: 0 0 30px 0;
}

legend {
    font-size: 17px;
    color: #77D16D;
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px;
    background-color: #45473D;
}

fieldset {
    border: 0;
}

.checklist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.checklist li {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    background: url(/site_media/checkboxbg.gif) no-repeat 0 0;
    width: 210px;
    height: 300px;
    position: relative;
    font: normal 1.3em "Lucida Grande","Lucida","Arial",Sans-serif;
    text-align: center;
}

.checklist li.selected {
    background-position: -210px 0;
}

.checklist li.selected .checkbox-select {
    display: none;
}

.checkbox-select {
    display: block;
    float: left;
    position: absolute;
    top: 236px;
    left: 20px;
    width: calc(85px * 2);
    height: calc(23px * 2);
    background: url(/site_media/select.gif) no-repeat 0 0;
    text-indent: -9999px;
}

.checklist li input {
    display: none;  
}

a.checkbox-deselect {
    display: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    border: 2px solid #77D16D;
    padding: 4px;
    color: #77D16D;
    border-radius: 5px;
    background-color: #FFFFFF;
    top: 240px;
    right: 20px;
    box-shadow: 4px 4px;
}

a.checkbox-deselect:active {
    box-shadow: 0 0;
}

.checklist li.selected a.checkbox-deselect {
    display: block;
}

.checklist li label {
    display: block;
    padding: 8px;
}

.sec {
    text-decoration: underline;
    font-size: 1.3em;
    font-weight: bold;
}

.lbl {
    margin: 15px;
}
