

/* =========================== flip Panel ========================*/
p.flip { /*
			border: 1px solid #0b3e6f;
			background: #0b3e6f url(images/ui-bg_inset-hard_15_0b3e6f_1x100.png);
			background-repeat:no-repeat;
			color: #f6f6f6;
			font-weight: bold;
			*/
	display: none;
	padding: 5px;
	width: 20%;
	text-align: center;
	text-shadow: white;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60 );
	opacity: 0.8;
	font-family: monospace, Gadget, sans-serif;
	font-size: small;
	font-weight: bold;
	color: black;
	background-color: #0BAFFF;
	/*background-image:url("/site_media/flip.jpg"); */
	box-shadow: 1px 1px 5px #555555;
	margin-left: auto;
	margin-right: auto;
	/*border:solid 1px #c3c3c3;*/
}

p.flip.lower {
	background-color: #70D0FF;
}

p.flip.xlower {
	background-color: #C1EBFF;
}

p.flip:ACTIVE,p.flip:HOVER {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100 );
	opacity: 3;
	cursor: pointer;
	cursor: hand
}

/*===================== Base Template Body =======================*/
#BaseTempBody {
	/*background-image:url("/site_media/squairy_light.png");*/
	/*url(images/ui-bg_inset-hard_40_292929_1x100.png) 50% 50% repeat-x*/
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	/*background-color: #E5FFE3;*/
}

/* =============== footer ================*/
#footer {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 0.75em;
	color: black;
	text-align: center;
	margin-top: 0%;
}

/*======================================================= Home Page Paragraph ===========================================*/
#HomePagePara {
	border-style: groove;
	width: 100%;
	padding: 0%;
	/*background-image: url("/site_media/logo.png");*/
	background-image: url("/site_media/droidiosbb.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
}

/*======================================================= Second Menu ===========================================*/
#SecondTabManu {
	width: 100%;
	height: 5%;
	background-image: url("/site_media/second-tab-img.png");
	background-repeat: no-repeat;

	/*
					font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
					background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3)); 
					background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%); 
					*/
}

#SecondTabManu img {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80 );
	opacity: 0.6;
	width: 50px;
	height: 30px;
	text-decoration: none;
	border: none;
	outline: None;
}

#SecondTabManu img:HOVER,#SecondTabManu img:ACTIVE {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100 );
	opacity: 1;
	text-decoration: none;
	border: none;
	outline: None;
}

#SecondTabManu a {
	border-style: none;
	padding-right: 10px;
	text-decoration: none;
	border: 0px;
	outline: none;
}

#SecondTabManu input {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60 );
	opacity: 0.4;
	width: 50px;
	height: 30px;
	text-decoration: none;
	text-align: center;
	border-style: none;
}

#SecondTabManu input:HOVER,#SecondTabManu input:ACTIVE {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100 );
	opacity: 1;
	text-decoration: none;
	border: none;
	outline: None;
}

/*==============================Auto Complete Search Box Search / Run Button======================== */
#AutoComplete_SearchButton,.Buttons {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60 );
	opacity: 0.8;
	height: 30px;
	width: 60px;
}

#AutoComplete_SearchButton:HOVER,#AutoComplete_SearchButton:ACTIVE,.Buttons:HOVER,.Buttons:ACTIVE
	{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100 );
	opacity: 3;
	cursor: pointer;
	cursor: hand
}

/*===========Auto Complete Delete Button========= */
.delete {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60 );
	opacity: 0.8;
}

.delete:HOVER,.delete:ACTIVE {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100 );
	opacity: 3;
	cursor: pointer;
	cursor: hand
}

#searchedtext {
	color: black;
}

/*============================ Result Table ===================================*/
#ResultTable { /*
					display:block;
					font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
					table-layout: fixed;
					width:100%;
					border:thick;
					border-collapse:collapse;
					 */
	
}

#ResultTable td { /*
					font-size:xx-small;
					text-align:left;
					border:1px solid gray;
					padding:3px 7px 2px 7px;	
						
						*/
	
}

#ResultTable th { /*
					background-color:gray;
					background-image:url("/site_media/Result-Table-Heading.png");
					background-repeat:no-repeat;
					font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
					border-collapse:collapse;
					
					text-align:center;
					color: black;
					
					background-color: #C8C8C8;
					border:1px solid black;
					background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
					background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
					border-bottom: solid 1px #999;
					
			*/
	
}

/* ===========================  Drop Down List =================   */
#DropDownOption {
	background-color: #B0B0B0;
	color: black;
	font-family: Arial, Verdana, Helvetica, Sans-Serife;
}

.wrapper-dropdown-3 {
    position: relative;
    width: 180px;
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 4px 3px 2px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: black;
    font-family: 'Lato', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* =================== Text Class ========================*/
.Text {
	font-family: monospace;
	font-size: 20px;
	color: black;
	//text-shadow: 1px 0px 0px gray;
}

/* =================== Loading Text ========================*/
#LoadingText {
	font-family: monospace;
	font-size: 30px;
	color: #888888;
	text-shadow: 1px 1px 1px black;
	letter-Spacing: 15px;
}

/* =================== Test Case Creation/Edit ========================*/
.new_tc_form {
	margin-top: 10px;
	margin:5px auto;
    width: 100%;
    clear: both;
}
.new_tc_form input[type=text] {
    width: 100%;
    background:transparent;
}
.tc_form_label_col {
	width: 240px;
	vertical-align: top;
	text-align: left;
}
.tc_form_input_col {
	width: 400px;
}
.tc_form_divider {
	width: 640px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.tc_form_required_field {
	margin-left:-8px;
	color: #f00;
}
.buttonCustom{
	text-align: center;
	text-shadow: white;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	opacity: 1;
	color: white;
	background-color: #666;
	padding: 5px;
	border: 1px #000 solid;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
}

.buttonCustom:HOVER {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	opacity: 0.8;
	cursor: pointer;
	cursor: hand;
}

.m-btn {
    position: relative;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 10px 14px;
    margin-top: 8px;
    cursor: pointer;
    outline: 0;
    border: 0;
    background: #35aa47;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#eeeeee',GradientType=0);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding;
    zoom: 1;
    z-index: 1;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    min-width: 42px;
    text-shadow: #fff 0 0px 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: inherit;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.m-btn:HOVER {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    opacity: 0.9;
    cursor: pointer;
    cursor: hand
}
/* =====================Create Product Sections============================ */
#section_names{
	text-align: left;
}

#enter_sections_text{
	text-align: left;
}

/*=======================HTML5===============*/

/@font-face{font-family:'Open Sans';src:url('http://fontfacekit.github.io/open-sans/font/Light/OpenSans-Light.eot');src:url('http://fontfacekit.github.io/open-sans/font/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),url('http://fontfacekit.github.io/open-sans/font/Light/OpenSans-Light.woff') format('woff'),url('http://fontfacekit.github.io/open-sans/font/Light/OpenSans-Light.ttf') format('truetype'),url('http://fontfacekit.github.io/open-sans/font/Light/OpenSans-Light.svg#OpenSansLight') format('svg');font-weight:300;font-style:normal;}/**//**/@font-face{font-family:'Open Sans';src:url('http://fontfacekit.github.io/open-sans/font/LightItalic/OpenSans-LightItalic.eot');src:url('http://fontfacekit.github.io/open-sans/font/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),url('http://fontfacekit.github.io/open-sans/font/LightItalic/OpenSans-LightItalic.woff') format('woff'),url('http://fontfacekit.github.io/open-sans/font/LightItalic/OpenSans-LightItalic.ttf') format('truetype'),url('http://fontfacekit.github.io/open-sans/font/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');font-weight:300;font-style:italic;}/**//**/@font-face{font-family:'Open Sans';src:url('http://fontfacekit.github.io/open-sans/font/Regular/OpenSans-Regular.eot');src:url('http://fontfacekit.github.io/open-sans/font/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),url('http://fontfacekit.github.io/open-sans/font/Regular/OpenSans-Regular.woff') format('woff'),url('http://fontfacekit.github.io/open-sans/font/Regular/OpenSans-Regular.ttf') format('truetype'),url('http://fontfacekit.github.io/open-sans/font/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');font-weight:normal;font-style:normal;}/**//**/@font-face{font-family:'Open Sans';src:url('http://fontfacekit.github.io/open-sans/font/Italic/OpenSans-Italic.eot');src:url('http://fontfacekit.github.io/open-sans/font/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),url('http://fontfacekit.github.io/open-sans/font/Italic/OpenSans-Italic.woff') format('woff'),url('http://fontfacekit.github.io/open-sans/font/Italic/OpenSans-Italic.ttf') format('truetype'),url('http://fontfacekit.github.io/open-sans/font/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');font-weight:normal;font-style:italic;}/**//**/@font-face{font-family:'Open Sans';src:url('http://fontfacekit.github.io/open-sans/font/Semibold/OpenSans-Semibold.eot');src: url('http://fontfacekit.github.io/open-sans/font/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),url('http://fontfacekit.github.io/open-sans/font/Semibold/OpenSans-Semibold.woff') format('woff'),url('http://fontfacekit.github.io/open-sans/font/Semibold/OpenSans-Semibold.ttf') format('truetype'),url('http://fontfacekit.github.io/open-sans/font/Semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');font-weight:600;font-style:normal;}/**//**/@font-face{font-family:'Open Sans';src:url('http://fontfacekit.github.io/open-sans/font/SemiboldItalic/OpenSans-SemiboldItalic.eot');src:url('http://fontfacekit.github.io/open-sans/font/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),url('http://fontfacekit.github.io/open-sans/font/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'),url('http://fontfacekit.github.io/open-sans/font/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'),url('http://fontfacekit.github.io/open-sans/font/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');font-weight:600;font-style:italic;}/**//**/@font-face{font-family:'Open Sans';src:url('http://fontfacekit.github.io/open-sans/font/Bold/OpenSans-Bold.eot');src:url('http://fontfacekit.github.io/open-sans/font/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),url('http://fontfacekit.github.io/open-sans/font/Bold/OpenSans-Bold.woff') format('woff'),url('http://fontfacekit.github.io/open-sans/font/Bold/OpenSans-Bold.ttf') format('truetype'),url('http://fontfacekit.github.io/open-sans/font/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');font-weight:bold;font-style:normal;}/**//**/@font-face{font-family:'Open Sans';src:url('http://fontfacekit.github.io/open-sans/font/BoldItalic/OpenSans-BoldItalic.eot');src:url('http://fontfacekit.github.io/open-sans/font/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),url('http://fontfacekit.github.io/open-sans/font/BoldItalic/OpenSans-BoldItalic.woff') format('woff'),url('http://fontfacekit.github.io/open-sans/font/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'),url('http://fontfacekit.github.io/open-sans/font/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');font-weight:bold;font-style:italic;}/**//**/@font-face{font-family:'Open Sans';src:url('http://fontfacekit.github.io/open-sans/font/ExtraBold/OpenSans-ExtraBold.eot');src:url('http://fontfacekit.github.io/open-sans/font/ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),url('http://fontfacekit.github.io/open-sans/font/ExtraBold/OpenSans-ExtraBold.woff') format('woff'),url('http://fontfacekit.github.io/open-sans/font/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'),url('http://fontfacekit.github.io/open-sans/font/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');font-weight:800;font-style:normal;}/**//**/@font-face{font-family:'Open Sans';src:url('http://fontfacekit.github.io/open-sans/font/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');src:url('http://fontfacekit.github.io/open-sans/font/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),url('http://fontfacekit.github.io/open-sans/font/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'),url('http://fontfacekit.github.io/open-sans/font/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'),url('http://fontfacekit.github.io/open-sans/font/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic') format('svg');font-weight:800;font-style:italic;}

/*** General Styles ***/
body{
	background-color: white;
	margin: 0px;
	font-family: "Open Sans";
}

#master_wrap{ 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased; 
}

/*=========== Header ===========*/

header.main_header{
	margin-top: 10px;
	margin-left: 40px;
    //text-shadow: 2px 1px grey;
}

/*=========== Side nav ===========*/
/*
aside{
	display: block;
	float: left;
	width: 0;
}
*/

/*======= Top nav bar=======*/
/*
nav{
	display:block;
	width: 10%;
	float: left;
	margin: 0px 0px 0px 0px;
	background-color: #666;
	color: #fff;
}

nav a:link, nav a:visited{
	display:block;
	border-bottom: 3px solid #fff;
	padding: 10px;
	background-color: #666;
	text-decoration: none;
	font-weight: bold;
	color: #eee;
}

nav a:hover{
	color: white;
}*/

#topnav ul {
	list-style-type: none;
	overflow:hidden;
}

#topnav ul li {
	display: inline-block;
}

#topnav ul li a {
	border: 2px solid grey;
	padding: .2em 1em;
	text-decoration: none;
	color: white;
	background-color: #666;
}

#topnav ul li a:hover {
	background-color: grey;
}

/*============section===========*/
section{
	display: block;
	margin: 20px;
	padding-top: 10px;
}

section header{
    //text-shadow: 2px 1px grey
}

article{
	display:block;
	margin-left: 20px;
	width: 90%;
}

/*=========content page============*/
article header{
	font-size: 150%;
	font-weight: bold;
    //text-shadow: 2px 1px grey
}

/*=========home page============*/
#about_us_list.pros{
	list-style-type: circle;
}

/*=========createtest=======*/
.tc_title
{
	margin-right: auto;
	margin-bottom: 10px;
    //text-shadow: 2px 1px grey
}

/*========create product sections========*/
#section_names
{
	margin-right: auto;
    //text-shadow: 2px 1px grey
}

/*========Text Box========*/

.textbox {
    border: 1px solid #c4c4c4;
    height: 25px;
    width: 200px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

.textbox:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

/*========Go Top========*/

.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/*========Top Navigation========*/

#nav ul li, ul ul li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
#nav ul li a, ul li ul li a {
    display: inline-block;
    border: 1px solid grey;
    padding: .0em 1em;
    text-decoration: none;
    color: white;
    background-color: #666;
}
#nav ul li a:hover {
    background-color: grey;
}
/*Make the parent of sub-menu relative*/
#nav ul li {
    position: relative;
}
/*sub menu*/
#nav ul li ul {
    display:none;
    position: absolute;
}
#nav ul li:hover ul {
    display:block;
    padding: 0;
}

@media only screen and ( max-width: 62.5em )
{
    #nav
    {
        width: 100%;
        position: static;
        margin: 0;
    }
}

@media only screen and ( max-width: 40em )
{
    html
    {
        font-size: 75%;
    }

    #nav
    {
        position: relative;
        top: auto;
        left: auto;
    }
    #nav > a
    {
        text-align: left;
        background-color: #666;
        position: relative;
    }
    #nav > a:before,
    #nav > a:after
    {
        position: absolute;
        top: 35%;
        left: 25%;
        right: 25%;
        content: '';
    }
    #nav > a:after
    {
        top: 60%;
    }

    #nav:not( :target ) > a:first-of-type,
    #nav:target > a:last-of-type
    {
        display: block;
    }




    #nav > ul
    {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
    #nav:target > ul
    {
        display: block;
    }
    #nav > ul > li
    {
        width: 100%;
        float: none;
    }
    #nav > ul > li > a
    {
        height: auto;
        text-align: left;
        padding: 0 0.833em;
    }
    #nav > ul > li:not( :last-child ) > a
    {
        border-right: none;
        border-bottom: 1px solid #666;
    }

    #nav li ul
    {
        position: static;
        padding: 1.25em;
        padding-top: 0;
    }
}
